<template>
  <v-dialog v-model="dialog" max-width="1440">
    <template v-slot:activator="{ on, attrs }">
      <v-col cols="auto" class="mr-2 mb-2 pa-0">
        <v-btn color="#7A86F0" depressed dark v-bind="attrs" v-on="on">
          Add Member
        </v-btn></v-col
      >
    </template>
    <!-- All Groups  -->
    <v-card class="text-left shadow py-5">
      <v-container fluid>
        <!-- head  -->
        <v-row
          class="align-center justify-md-space-between justify-center mx-4"
          no-gutters
        >
          <!-- title  -->
          <v-col cols="12" sm="auto" class="mr-2 my-1">
            <v-container fluid>
              <v-row>
                <v-img
                  class="mr-4"
                  max-height="36"
                  max-width="36"
                  src="../../../assets/icon.svg"
                ></v-img>
                <h2 id="title">Add Member</h2>
              </v-row></v-container
            >
          </v-col>

          <v-spacer class="d-sm-block d-none"></v-spacer>
          <!-- Display  -->
          <display-selected
            :display="display"
            @Display="Display($event)"
          ></display-selected>

          <!-- select export  -->
          <export></export>
          <!-- filter  -->
          <filter-dialog
            :filter="filter"
            :filterDefault="filterDefault"
            @filter="Filter($event)"
          ></filter-dialog>
          <!--  -->
        </v-row>

        <!-- head -->
        <v-row
          class="align-center justify-lg-space-between justify-center mx-4 mt-4"
          no-gutters
        >
          <!-- input search  -->
          <v-col cols="auto" class="mr-2 mb-2">
            <div
              class="
                d-flex
                align-center
                justify-md-space-between justify-center
              "
            >
              <b>Search :</b>
              <v-text-field
                v-model="search"
                class="ml-2"
                color="black"
                placeholder="Slave Name, Login User"
                outlined
                dense
                hide-details
              ></v-text-field></div
          ></v-col>
          <!-- Show  -->
          <v-col cols="auto" class="mx-2 mb-2">
            <div
              class="
                d-flex
                align-center
                justify-md-space-between justify-center
              "
            >
              <b>Show</b>
              <v-select
                v-model="show"
                class="ml-2 fit-content"
                color="black"
                item-color="black"
                outlined
                hide-details
                full-width
                :items="showItems"
              ></v-select></div
          ></v-col>
          <v-spacer class="d-md-block d-none"></v-spacer>

          <!-- create Slaves  -->
          <v-col cols="auto" class="mr-2 mb-2">
            <create-slave-dialog></create-slave-dialog
          ></v-col>
          <!-- Select All  -->
          <v-col cols="auto" class="mr-2 mb-2">
            <v-btn
              color="black"
              outlined
              dark
              @click="
                selected.length != data.length
                  ? (selected = data)
                  : (selected = [])
              "
            >
              {{
                selected.length != data.length ? "Select All" : "Deselect All"
              }}
            </v-btn></v-col
          >
        </v-row>
      </v-container>

      <!-- table  -->
      <v-container fluid>
        <v-row class="mb-2">
          <v-col class="pa-0" cols="12"
            ><!-- table  -->
            <v-data-table
              class="table"
              v-model="selected"
              :search="search"
              :headers="headers"
              :items="data"
              :page.sync="page"
              :items-per-page="display"
              show-select
              hide-default-footer
              checkbox-color="green"
              @page-count="pageCount = $event"
            >
              <!-- name  -->
              <template v-slot:[`item.name`]="{ item }">
                <router-link :to="{ name: 'EditMasters', params: item }">{{
                  item.name
                }}</router-link>
              </template>
              <!-- Connect  -->
              <template v-slot:[`item.connect`]="{ item }">
                <span :style="item.connect ? '' : 'color: #CE2021;'">{{
                  item.connect ? "Connect" : "Disconnect"
                }}</span>
              </template>
              <!-- border -->
              <template v-slot:[`body.append`]>
                <v-divider></v-divider>
              </template>
              <template v-slot:top>
                <v-divider></v-divider>
              </template>
            </v-data-table>
            <!-- footer  -->
            <Footer
              :page="page"
              :pageCount="pageCount"
              :display="display"
              :length="data.length"
              @Page="Page($event)"
            ></Footer>
          </v-col>
        </v-row>
        <v-divider></v-divider>

        <!-- select  -->
        <v-row class="text-md-left text-center align-center mt-2 mx-4">
          <v-col>
            <h2 id="title">Select {{ selected.length }}/{{ data.length }}</h2>
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              class="ma-1"
              width="150"
              color="grey"
              depressed
              dark
              @click="dialog = false"
            >
              Cancel
            </v-btn>
            <v-btn
              class="ma-1"
              width="150"
              color="green"
              depressed
              dark
              @click="save()"
            >
              Add
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
import FilterDialog from "../../Table/FilterDialog.vue";
import DisplaySelected from "../../Table/DisplaySelected.vue";
import Footer from "../../Table/Footer.vue";
import CreateSlaveDialog from "./CreateSlaveDialog.vue";
import Export from "../../Table/Export.vue";
export default {
  components: {
    FilterDialog,
    DisplaySelected,
    Footer,
    CreateSlaveDialog,
    Export,
  },
  name: "AddMemberDialog",
  data() {
    return {
      dialog: false,
      //Filter
      filter: [
        {
          label: "Server",
          name: "server",
          item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
        },
        {
          label: "Broker",
          name: "broker",
          item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
        },
        {
          label: "Platform",
          name: "platform",
          item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
        },
        { label: "Status", name: "status", item: ["All", "On", "Off"] },
        {
          label: "Connect State",
          name: "connection_state_id",
          item: ["All", "On", "Off"],
        },
        { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
        { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
        { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
      ],
      filterDefault: {
        server: "XMGlobal-MT5 2",
        broker: "All",
        platform: "All",
        status: "All",
        connection_state_id: "All",
        expiration: "All",
        alert_email: "All",
        alert_sms: "All",
      },
      //Table
      //search
      search: "",
      //display
      display: 5,
      show: "All",
      showItems: ["All"],
      page: 1,
      pageCount: 0,
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id",
        },
        { text: "Slave Name", value: "name", sortable: false },
        { text: "Server", value: "server", sortable: false },
        { text: "Broker", value: "broker", sortable: false },
        { text: "Platform", value: "platform", sortable: false },
        { text: "Connect State", value: "connect", sortable: false },
        { text: "Expiration", value: "expiration", sortable: false },
      ],
      data: [],
      selected: [],
    };
  },
  created() {
    // set data
    this.data = [
      {
        id: "S-01",
        name: "xxxxxxxxxxxx01",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-02",
        name: "xxxxxxxxxxxx02",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-03",
        name: "xxxxxxxxxxxx03",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-04",
        name: "xxxxxxxxxxxx04",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-05",
        name: "xxxxxxxxxxxx05",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-06",
        name: "xxxxxxxxxxxx06",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-07",
        name: "xxxxxxxxxxxx07",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-08",
        name: "xxxxxxxxxxxx08",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-09",
        name: "xxxxxxxxxxxx09",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-010",
        name: "xxxxxxxxxxxx10",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 0,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 0,
        sms: 1,
        password: "ABC",
      },
    ];
  },
  methods: {
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },
    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //from Display
    Display(display) {
      this.display = display;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
  },
};
</script>