<template>
  <v-dialog v-model="dialog" max-width="1440" class="pa-0">
    <template v-slot:activator="{ on, attrs }">
      <v-col cols="auto" class="mr-2 mb-2 pa-0">
        <v-btn color="#109BFF" depressed dark v-bind="attrs" v-on="on">
          Confirm
        </v-btn></v-col
      >
    </template>
    <!-- All Groups  -->
    <v-card class="text-left shadow" color="#ffffff00">
      <v-card class="text-left shadow py-5 mb-3">
        <v-container fluid>
          <!-- head  -->
          <v-row
            class="align-center justify-md-space-between justify-center mx-4"
            no-gutters
          >
            <!-- title  -->
            <v-col cols="12" sm="auto" class="mr-2 my-1">
              <v-container fluid>
                <v-row align="center">
                  <v-col cols="auto">
                    <v-img
                      class="mr-4"
                      max-height="60"
                      max-width="60"
                      src="../../../assets/icon.svg"
                    ></v-img
                  ></v-col>
                  <v-col>
                    <h2 id="title">
                      ยืนยันที่จะยกเลิก Copy Setting เดิมหรือไม่ ?
                    </h2>

                    <h3>
                      กรุณาเลือก Copier Status เพื่อตั้งค่า
                      หากต้องการยกเลิกของเดิม
                    </h3></v-col
                  ></v-row
                ></v-container
              >
            </v-col>
          </v-row>

          <!-- head -->
          <v-row
            class="
              align-center
              justify-lg-space-between justify-center
              mx-4
              mt-4
            "
            no-gutters
          >
            <!-- input search  -->
            <v-col cols="auto" class="mr-2 mb-2">
              <div
                class="
                  d-flex
                  align-center
                  justify-md-space-between justify-center
                "
              >
                <b>Search :</b>
                <v-text-field
                  v-model="search"
                  class="ml-2"
                  color="black"
                  placeholder="Slave Name, Login User"
                  outlined
                  dense
                  hide-details
                ></v-text-field></div
            ></v-col>
            <v-spacer class="d-md-block d-none"></v-spacer>
            <!-- All Copier Status  -->
            <v-col cols="auto" class="mx-2 mb-2">
              <div
                class="
                  d-flex
                  align-center
                  justify-md-space-between justify-center
                "
              >
                <b>All Copier Status</b>
                <v-select
                  class="ml-2"
                  color="black"
                  item-color="black"
                  outlined
                  hide-details
                  full-width
                  :items="showItems"
                ></v-select></div
            ></v-col>
            <!-- filter  -->
            <filter-dialog
              class="mb-3"
              :filter="filter"
              :filterDefault="filterDefault"
              @filter="Filter($event)"
            ></filter-dialog>
            <!--  -->
          </v-row>
        </v-container>

        <!-- table  -->
        <v-container fluid>
          <v-row class="mb-2">
            <v-col class="pa-0" cols="12"
              ><!-- table  -->
              <v-data-table
                class="table"
                v-model="selected"
                :search="search"
                :headers="headers"
                :items="data"
                show-select
                hide-default-footer
                checkbox-color="green"
              >
                <!-- name  -->
                <template v-slot:[`item.name`]="{ item }">
                  <router-link :to="{ name: 'EditMasters', params: item }">{{
                    item.name
                  }}</router-link>
                </template>
                <!-- Connect  -->
                <template v-slot:[`item.connect`]="{ item }">
                  <span :style="item.connect ? '' : 'color: #CE2021;'">{{
                    item.connect ? "Connect" : "Disconnect"
                  }}</span>
                </template>
                <!-- border -->
                <template v-slot:[`body.append`]>
                  <v-divider></v-divider>
                </template>
                <template v-slot:top>
                  <v-divider></v-divider>
                </template>
              </v-data-table>
            </v-col>
          </v-row>
        </v-container>
      </v-card>

      <!-- footer -->
      <v-card class="shadow padding-x" style="z-index: 1">
        <v-container fluid>
          <v-row class="text-md-left text-center align-center">
            <v-col class="create-subhead">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </v-col>
            <v-col cols="12" md="auto">
              <v-btn
                v-if="!view"
                @click="dialog = false"
                class="ma-1"
                width="150"
                color="grey"
                dark
              >
                Cancel
              </v-btn>
              <v-btn v-if="!view" class="ma-1" width="150" color="green" dark>
                Save
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import FilterDialog from "../../Table/FilterDialog.vue";
export default {
  components: { FilterDialog },
  name: "ConfirmCopySettingDialog",
  data() {
    return {
      view: false,
      dialog: false,
      //Filter
      filter: [
        {
          label: "Server",
          name: "server",
          item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
        },
        {
          label: "Broker",
          name: "broker",
          item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
        },
        {
          label: "Platform",
          name: "platform",
          item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
        },
        { label: "Status", name: "status", item: ["All", "On", "Off"] },
        {
          label: "Connect State",
          name: "connection_state_id",
          item: ["All", "On", "Off"],
        },
        { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
        { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
        { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
      ],
      filterDefault: {
        server: "XMGlobal-MT5 2",
        broker: "All",
        platform: "All",
        status: "All",
        connection_state_id: "All",
        expiration: "All",
        alert_email: "All",
        alert_sms: "All",
      },
      //Table
      //search
      search: "",
      showItems: ["All"],
      headers: [
        {
          text: "ID",
          align: "start",
          sortable: false,
          value: "id",
        },
        { text: "Slave Name", value: "name", sortable: false },
        { text: "Server", value: "server", sortable: false },
        { text: "Broker", value: "broker", sortable: false },
        { text: "Platform", value: "platform", sortable: false },
        { text: "Connect State", value: "connect", sortable: false },
        { text: "Expiration", value: "expiration", sortable: false },
      ],
      data: [],
      selected: [],
    };
  },
  created() {
    // set data
    this.data = [
      {
        id: "S-01",
        name: "xxxxxxxxxxxx01",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-02",
        name: "xxxxxxxxxxxx02",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-03",
        name: "xxxxxxxxxxxx03",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-04",
        name: "xxxxxxxxxxxx04",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-05",
        name: "xxxxxxxxxxxx05",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-06",
        name: "xxxxxxxxxxxx06",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
    ];
  },
  methods: {
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },
  },
};
</script>