<template>
  <v-dialog v-model="dialog" persistent max-width="1440px">
    <!-- btn Create Master -->
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="black" outlined dark v-bind="attrs" v-on="on">
        <v-icon>mdi-plus</v-icon>
        Create Slaves
      </v-btn>
    </template>
    <!-- title -->
    <v-card class="py-2 px-md-5 px-2">
      <v-card-title class="ma-5">
        <v-row class="text-left align-center">
          <v-col sm="auto" cols="12"
            ><v-img
              class="mx-auto"
              max-height="80"
              max-width="80"
              src="../../../assets/create_logo/create_slave.png"
            ></v-img
          ></v-col>
          <v-col>
            <div class="create-head">Create Slaves</div>
            <div class="create-subhead mb-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s
            </div>
          </v-col>
        </v-row>
      </v-card-title>
      <!-- content -->
      <v-card-text class="pa-0">
        <slave-form
          class="mt-5"
          :readonly="false"
          :form="slaveForm"
          @SlaveForm="SlaveForm($event)"
        ></slave-form>
      </v-card-text>
      <!-- footer  -->
      <v-card-actions>
        <v-container fluid>
          <v-row class="text-md-left text-center align-center">
            <v-col class="create-subhead">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </v-col>
            <v-col cols="12" md="auto">
              <v-btn
                class="ma-1"
                width="150"
                color="grey"
                dark
                depressed
                @click="dialog = false"
              >
                Cancel
              </v-btn>
              <v-btn
                class="ma-1"
                width="150"
                color="green"
                dark
                depressed
                @click="dialog = false"
              >
                Save
              </v-btn></v-col
            >
          </v-row>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import SlaveForm from "../../Slaves/CreateSlave.vue/SlaveForm.vue";
export default {
  components: { SlaveForm },
  data: () => ({
    dialog: false,
    slaveForm: {
      name: "",
      status: 0,
      connectstate: 0,
      loginuser: " ",
      password: "",
      subscription: " ",
      platform: "",
      server: "",
      ordercomment: " ",
      note: "",
      email: 0,
      sms: 0,
    },
  }),
  methods: {
    // Form
    SlaveForm(form) {
      this.slaveForm = form;
    },
  },
};
</script>
