<template>
  <v-dialog v-model="settingDialog" persistent max-width="1500" class="pa-0">
    <!-- <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="#109BFF"
        :disabled="disable"
        depressed
        dark
        v-bind="attrs"
        v-on="on"
      >
        Edit
      </v-btn>
    </template> -->
    <!-- All Groups  -->
    <v-card class="text-left" color="#ffffff00">
      <!-- Expanded -->
      <v-expansion-panels v-model="panel" multiple accordion>
        <!-- my master  -->
        <v-expansion-panel class="py-md-4 mb-3" relative>
          <!-- icon number  -->
          <div class="number pa-1" style="background-color: #e8e8e8">
            <h3>1</h3>
          </div>
          <!-- header  -->
          <v-expansion-panel-header class="padding-x">
            <v-row class="align-center text-md-left text-center">
              <v-col cols="12" md="auto"
                ><v-img
                  class="mx-auto"
                  max-height="80"
                  max-width="80"
                  src="../../../assets/icon.svg"
                ></v-img
              ></v-col>
              <v-col cols="100">
                <div>
                  <div class="create-head">My Master</div>
                  <div class="create-subhead mt-4 mb-0">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    dummy text ever since the 1500s, when an unknown
                  </div>
                </div>
              </v-col>
            </v-row>
            <template v-slot:actions>
              <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
            </template>
          </v-expansion-panel-header>
          <!-- content  -->
          <v-expansion-panel-content>
            <my-master
              :readonly="view"
              :form="myMaster"
              @MyMaster="MyMaster($event)"
            ></my-master>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <!-- copy setting  -->
        <v-expansion-panel class="py-md-4 mb-3" relative>
          <!-- icon number  -->
          <div class="number pa-1" style="background-color: #e8e8e8">
            <h3>2</h3>
          </div>
          <!-- header  -->
          <v-expansion-panel-header class="padding-x">
            <v-row class="align-center text-md-left text-center">
              <v-col cols="12" md="auto"
                ><v-img
                  class="mx-auto"
                  max-height="80"
                  max-width="80"
                  src="../../../assets/icon.svg"
                ></v-img
              ></v-col>
              <v-col cols="100">
                <div>
                  <div class="create-head">Copy Setting</div>
                  <div class="create-subhead mt-4 mb-0">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    dummy text ever since the 1500s, when an unknown
                  </div>
                </div>
              </v-col>
            </v-row>
            <template v-slot:actions>
              <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
            </template>
          </v-expansion-panel-header>
          <!-- content  -->
          <v-expansion-panel-content>
            <!--  -->
            <copy-setting
              :readonly="view"
              :form="copySetting"
              @CopySetting="CopySetting($event)"
            ></copy-setting>
          </v-expansion-panel-content>
        </v-expansion-panel>

        <!-- advance copy setting  -->
        <v-expansion-panel class="py-md-4 mb-3" relative>
          <!-- icon number  -->
          <div class="number pa-1" style="background-color: #e8e8e8">
            <h3>3</h3>
          </div>
          <!-- header  -->
          <v-expansion-panel-header class="padding-x">
            <v-row class="align-center text-md-left text-center">
              <v-col cols="12" md="auto"
                ><v-img
                  class="mx-auto"
                  max-height="80"
                  max-width="80"
                  src="../../../assets/icon.svg"
                ></v-img
              ></v-col>
              <v-col cols="100">
                <div>
                  <div class="create-head">Advance Copy Setting</div>
                  <div class="create-subhead mt-4 mb-0">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s, when an unknown
                    dummy text ever since the 1500s, when an unknown
                  </div>
                </div>
              </v-col>
            </v-row>
            <template v-slot:actions>
              <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
            </template>
          </v-expansion-panel-header>
          <!-- content  -->
          <v-expansion-panel-content>
            <!--  -->
            <advance-copy-setting :readonly="view"></advance-copy-setting>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
      <!-- footer -->
      <v-card class="shadow padding-x" style="z-index: 1">
        <v-container fluid>
          <v-row class="text-md-left text-center align-center">
            <v-col class="create-subhead">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </v-col>
            <v-col cols="12" md="auto">
              <v-btn
                class="ma-1"
                width="150"
                color="grey"
                dark
                depressed
                @click="closeDialog()"
              >
                Cancel
              </v-btn>
              <v-btn
                v-if="!view"
                class="ma-1"
                width="150"
                depressed
                color="green"
                dark
              >
                Save
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
      </v-card>
    </v-card>
  </v-dialog>
</template>

<script>
import AdvanceCopySetting from "../../Slaves/CreateSlave.vue/AdvanceCopySetting.vue";
import CopySetting from "../../Slaves/CreateSlave.vue/CopySetting.vue";
import MyMaster from "../../Slaves/CreateSlave.vue/MyMaster.vue";
export default {
  components: { MyMaster, CopySetting, AdvanceCopySetting },
  name: "EditCopySettingDialog",
  props: ["settingDialog", "view"],
  data() {
    return {
      dialog: false,
      // view: false,
      panel: [0],
      myMaster: [
        {
          name: "Aombot EU1 (184817)",
          server: "XMGlobal-MT5-2",
          status: 1,
          connect: 1,
        },
      ],
      copySetting: {
        preset: "",
        name: "",
        risk: "",
        value: "",
        max_order: "",
        copier: "",
        pending: 0,
        stopLoss: 1,
        takeProfit: 0,
        max_risk: "",
        max_account_pos: "",
        max_symbol: "",
        max_account: "",
      },
    };
  },
  created() {},
  methods: {
    // My Master
    MyMaster(myMaster) {
      this.myMaster = myMaster;
    },
    closeDialog() {
      this.$emit("Setting", false);
    },
    // Copy Setting
    CopySetting(copySetting) {
      this.copySetting = copySetting;
    },
  },
};
</script>