<template>
  <!-- Form -->
  <v-card color="#F9F9F9" class="pt-5 shadow-1 text-left">
    <v-container fluid>
      <v-row no-gutters>
        <!--  Name -->
        <v-col cols="12" md="5">
          <v-container fluid>
            <v-row no-gutters>
              <v-col md="3" cols="2">
                <v-subheader class="justify-end">Group Name</v-subheader></v-col
              >
              <v-col md="9" cols="10"
                ><v-text-field
                  background-color="white"
                  outlined
                  :disabled="readonly"
                ></v-text-field
              ></v-col>
            </v-row>
            <!-- status  -->
            <v-row no-gutters>
              <v-col md="3" cols="2">
                <v-subheader class="justify-end">Status</v-subheader></v-col
              >
              <v-col md="8" cols="10">
                <label
                  class="active toggle-switchy"
                  for="status"
                  data-size="xl"
                >
                  <input
                    checked
                    type="checkbox"
                    id="status"
                    :disabled="readonly"
                  />
                  <span class="toggle">
                    <span class="switch"></span>
                  </span> </label
              ></v-col>
            </v-row> </v-container
        ></v-col>
        <!-- note  -->
        <v-col cols="12" md="7">
          <v-container fluid>
            <v-row no-gutters>
              <v-col md="1" cols="2">
                <v-subheader class="justify-end">Note</v-subheader></v-col
              >
              <v-col md="10" cols="10">
                <v-textarea
                  background-color="white"
                  outlined
                  hide-details
                  rows="3"
                  auto-grow
                  row-height="40"
                  :disabled="readonly"
                ></v-textarea
              ></v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "GroupForm",
  props: ["readonly", "form"],
  data: () => ({
    groupForm: [],
  }),
  created() {
    this.groupForm = this.form;
  },
  watch: {
    groupForm: function (val) {
      this.$emit("groupForm", val);
    },
  },
  methods: {},
};
</script>