<template>
  <v-dialog v-model="dialog" persistent max-width="600px">
    <!-- btn  -->
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        class="rounded-b-0 rounded-t-lg ml-1"
        color="#7A86F0"
        dark
        large
        v-bind="attrs"
        v-on="on"
        ><v-icon>mdi-plus</v-icon> ADD</v-btn
      >
    </template>

    <v-card class="py-2 px-md-5 px-2">
      <!-- title -->
      <v-card-title>
        <v-row class="text-left align-center">
          <v-col>
            <div class="create-head">Add Group</div>
            <div class="create-subhead mb-0">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </div>
          </v-col>
        </v-row>
      </v-card-title>
      <!-- content -->
      <v-card-text class="pa-0">
        <v-form ref="form" v-model="valid" lazy-validation>
          <v-autocomplete
            class="mx-5 mt-5"
            v-model="group"
            :rules="$rules_require"
            :items="groupItems"
            dense
            filled
            background-color="white"
            outlined
          ></v-autocomplete>
        </v-form>
      </v-card-text>
      <!-- footer  -->
      <v-card-actions>
        <v-container fluid>
          <v-row align="center" justify="end">
            <v-col cols="12" md="auto">
              <v-btn
                class="ma-1"
                width="150"
                color="grey"
                dark
                depressed
                @click="dialog = false"
              >
                Cancel
              </v-btn>
              <v-btn
                class="ma-1"
                width="150"
                color="green"
                @click="add()"
                dark
                depressed
              >
                <v-icon>mdi-plus</v-icon> Add
              </v-btn></v-col
            >
          </v-row>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    dialog: false,
    valid: true,
    group: "",
    groupItems: ["รวมออมบอท 1", "รวมออมบอท 2"],
  }),
  created() {},

  methods: {
    add() {
      this.$refs.form.validate();
    },
  },
};
</script>
