<template>
  <div class="pa-5">
    <symbol-dialog
      :dialog="dialog"
      :type="type"
      :item="item"
      :readonly="readonly"
      @Dialog="Dialog($event)"
    ></symbol-dialog>
    <v-container fluid>
      <v-row v-if="!readonly" align="center">
        <v-col md="3" cols="12">
          <v-btn @click="add()" width="100%" color="#7A86F0" dark depressed>
            <v-icon>mdi-plus</v-icon> Add Symbol
          </v-btn>
        </v-col>
        <v-col class="create-subhead" md="9" cols="12">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.</v-col
        ></v-row
      >

      <v-row class="pt-4">
        <v-data-table
          style="width: 100%"
          :headers="headers"
          :items="data"
          item-key="symbol"
          hide-default-footer
          class="elevation-1"
        >
          <!-- <template v-slot:expanded-item="{ headers }">
            <td class="px-0" :colspan="headers.length">
              <v-container fluid>
                <v-row no-gutters>
                  <v-col class="px-2" lg="3" md="6" cols="12">
                    <v-subheader class="px-0">Symbol Custom</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" lg="" md="6" cols="12">
                    <v-subheader class="px-0">Copy Setting/Preset</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" lg="" md="6" cols="12">
                    <v-subheader class="px-0">Master</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>

                  <v-col class="px-2" lg="" md="3" cols="12">
                    <v-subheader class="px-0">Server</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" lg="2" md="3" cols="12">
                    <v-subheader class="px-0">Connect State</v-subheader>
                    <v-btn
                      color="red"
                      width="100%"
                      min-width="160px"
                      outlined
                      dark
                    >
                      <v-icon x-small class="mr-4">mdi-circle</v-icon>
                      Disconnected
                    </v-btn>
                  </v-col></v-row
                >
                <v-row no-gutters>
                  <v-col class="px-2" lg="2" md="4" cols="8">
                    <v-subheader class="px-0"
                      >Risk Factor type/value</v-subheader
                    >
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" lg="1" md="2" cols="4">
                    <v-subheader class="px-0"></v-subheader>
                    <v-text-field
                      prefix="="
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>

                  <v-col class="px-2" lg="" md="6" cols="6">
                    <v-subheader class="px-0">Max Order Size</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" lg="" md="6" cols="6">
                    <v-subheader class="px-0">Max Risk %</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" lg="" md="6" cols="6">
                    <v-subheader class="px-0">Copier Status</v-subheader>
                    <v-text-field
                      background-color="white"
                      outlined
                      hide-details
                    ></v-text-field>
                  </v-col>
                  <v-col class="px-2" cols="auto">
                    <v-subheader class="px-0">Status</v-subheader>
                    <label
                      class="active toggle-switchy"
                      for="statusAdv"
                      data-size="xl"
                    >
                      <input checked type="checkbox" id="statusAdv" />
                      <span class="toggle">
                        <span class="switch"></span>
                      </span>
                    </label>
                  </v-col>

                  <v-col cols="auto" class="text-right mx-2">
                    <v-subheader class="px-0"></v-subheader>
                    <v-btn
                      class="elevation-0"
                      color="red"
                      dark
                      max-width="36"
                      min-width="0"
                    >
                      <v-icon class="">mdi-delete-outline</v-icon>
                    </v-btn></v-col
                  >
                </v-row></v-container
              >
            </td>
          </template> -->
          <template v-slot:[`item.symbol`]="{ item }">
            <!-- <router-link :to="{ name: 'EditSlaves', params: item }"> -->
            <a @click="edit(item)"
              ><u>{{ item.symbol }}</u></a
            >
            <!-- </router-link> -->
          </template>
          <!-- status  -->
          <template v-slot:[`item.status`]="{ item }">
            <v-switch
              v-model="item.status"
              inset
              dense
              hide-details
              :disabled="readonly"
            ></v-switch>
          </template>
          <!-- delete  -->
          <template v-if="!readonly" v-slot:[`item.action`]="{ item, index }">
            <v-btn
              class="elevation-0"
              color="red"
              dark
              max-width="36"
              min-width="0"
              @click="deleteItem(index)"
            >
              <v-icon class="">mdi-delete-outline {{ item }}</v-icon>
            </v-btn>
          </template>
        </v-data-table></v-row
      >
    </v-container>
  </div>
</template>

<script>
import SymbolDialog from "./SymbolDialog.vue";
export default {
  components: { SymbolDialog },
  name: "AdvanceCopySetting",
  props: ["from", "readonly"],
  data: () => ({
    type: true,
    dialog: false,
    headers: [
      {
        text: "Symbol",
        align: "start",
        value: "symbol",
      },
      { text: "Master", value: "master" },
      { text: "Copy Setting", value: "copy" },
      { text: "value", value: "value" },
      { text: "Risk Factor type", value: "risk", align: "center" },
      { text: "Max Order Size", value: "order", align: "center" },
      { text: "Max Risk %", value: "maxrisk", align: "center" },
      { text: "Status", value: "status" },
      { text: "Copier Status", value: "copier", align: "center" },
      {
        text: "",
        value: "action",
        cellClass: "action",
      },
    ],
    data: [
      {
        symbol: "XAUUSD",
        master: "Aombot GOLD (984815)",
        copy: "Custom",
        risk: "Multiplier (Lot)",
        value: "2.00",
        order: "0.10",
        maxrisk: "0.10",
        status: 1,
        copier: "On",
      },
      {
        symbol: "XAUSD",
        master: "Aombot GOLD (984815)",
        copy: "Custom",
        risk: "Multiplier (Lot)",
        value: "2.00",
        order: "0.10",
        maxrisk: "0.10",
        status: 1,
        copier: "On",
      },
    ],
    item: "",
  }),
  methods: {
    Dialog(dialog) {
      this.dialog = dialog;
    },
    deleteItem(i) {
      this.data.splice(i, 1);
    },
    add() {
      this.type = true;
      this.item = {};
      this.dialog = true;
    },
    edit(item) {
      this.type = false;
      this.dialog = true;
      this.item = item;
      console.log(this.item);
    },
  },
};
</script>