<template>
  <v-card color="#F9F9F9" class="shadow-1 text-left">
    <v-container fluid>
      <v-row no-gutters>
        <!-- Copy Setting/Preset -->
        <v-col class="px-2" lg="3" md="6" cols="12">
          <v-subheader class="px-0">Copy Setting/Preset</v-subheader>
          <v-text-field
            v-model="copySetting.preset"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Copy Setting Name -->
        <v-col class="px-2" lg="2" md="6" cols="12">
          <v-subheader class="px-0">Copy Setting Name</v-subheader>
          <v-text-field
            v-model="copySetting.name"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Risk Factor type/value -->
        <v-col class="px-2" lg="2" md="4" cols="8">
          <v-subheader class="px-0">Risk Factor type/value</v-subheader>
          <v-text-field
            v-model="copySetting.risk"
            background-color="white"
            outlined
            hide-details
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- = -->
        <v-col class="px-2" lg="1" md="2" cols="4">
          <v-subheader></v-subheader>
          <v-text-field
            v-model="copySetting.value"
            prefix="="
            background-color="white"
            outlined
            hide-details
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Max Order Size -->
        <v-col class="px-2" lg="2" md="3" cols="12">
          <v-subheader class="px-0">Max Order Size</v-subheader>
          <v-text-field
            v-model="copySetting.max_order"
            background-color="white"
            outlined
            hide-details
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Copier Status -->
        <v-col class="px-2" lg="2" md="3" cols="12">
          <v-subheader class="px-0">Copier Status</v-subheader>
          <v-text-field
            v-model="copySetting.copier"
            background-color="white"
            outlined
            hide-details
            :disabled="readonly"
          ></v-text-field> </v-col
      ></v-row>
      <v-row no-gutters>
        <!-- Pending  -->
        <v-col class="px-2" lg="auto" md="3" cols="4">
          <v-subheader class="px-0">Pending</v-subheader>
          <label class="toggle-switchy" for="pending" data-size="xl">
            <input
              v-model="copySetting.pending"
              checked
              type="checkbox"
              id="pending"
              :disabled="readonly"
            />
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>
        </v-col>
        <!-- StopLoss -->
        <v-col class="px-2" lg="auto" md="3" cols="4">
          <v-subheader class="px-0">StopLoss</v-subheader>
          <label class="toggle-switchy" for="stopLoss" data-size="xl">
            <input
              v-model="copySetting.stopLoss"
              checked
              type="checkbox"
              id="stopLoss"
              :disabled="readonly"
            />
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>
        </v-col>
        <!-- TakeProfit -->
        <v-col class="px-2" lg="auto" md="3" cols="4">
          <v-subheader class="px-0">TakeProfit</v-subheader>
          <label class="toggle-switchy" for="takeProfit" data-size="xl">
            <input
              v-model="copySetting.takeProfit"
              checked
              type="checkbox"
              id="takeProfit"
              :disabled="readonly"
            />
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>
        </v-col>
        <!-- Max Risk % -->
        <v-col class="px-2" lg="auto" md="3" cols="6">
          <v-subheader class="px-0">Max Risk %</v-subheader>
          <v-text-field
            v-model="copySetting.max_risk"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Max Account Pos Size -->
        <v-col class="px-2" lg="" md="4" cols="6">
          <v-subheader class="px-0">Max Account Pos Size</v-subheader>
          <v-text-field
            v-model="copySetting.max_account_pos"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Max Symbol Pos Size -->
        <v-col class="px-2" lg="" md="4" cols="6">
          <v-subheader class="px-0">Max Symbol Pos Size</v-subheader>
          <v-text-field
            v-model="copySetting.max_symbol"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Max Account Open Count -->
        <v-col class="px-2" lg="" md="4" cols="6">
          <v-subheader class="px-0">Max Account Open Count</v-subheader>
          <v-text-field
            v-model="copySetting.max_account"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field> </v-col
      ></v-row>
      <v-row no-gutters>
        <!-- Start to Copy  -->
        <v-col class="px-2" cols="12" md="auto">
          <v-subheader class="px-0">Start to Copy </v-subheader>
          <v-radio-group v-model="start_to_copy" row :disabled="readonly">
            <v-radio label="New orders" value="new"></v-radio>
            <v-radio label="Past orders" value="past"></v-radio>
          </v-radio-group>
        </v-col>
        <!-- Copy Start Date  -->
        <v-col v-if="start_to_copy == 'past'" class="px-2" md="auto" cols="12">
          <v-subheader class="px-0">Copy Start Date</v-subheader>
          <DateRange
            :disabled="readonly"
            @DateRange="DateRange($event)"
          ></DateRange>
        </v-col>
        <!-- Setting Past Orders  -->
        <v-col v-if="start_to_copy == 'past'" class="px-2" md="auto" cols="12">
          <v-subheader class="px-0">Setting Past Orders</v-subheader>
          <v-autocomplete
            v-model="setting"
            :items="['Better price or equal']"
            background-color="white"
            outlined
            dense
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import DateRange from "./DateRange.vue";
export default {
  components: { DateRange },
  name: "CopySetting",
  props: ["form", "readonly"],
  data: () => ({
    start_to_copy: "past",
    setting: "Better price or equal",
    dates: [],
    copySetting: {},
  }),
  watch: {
    copySetting: function (val) {
      this.$emit("CopySetting", val);
    },
  },
  created() {
    this.copySetting = this.form;
  },
  methods: {
    //Date Range
    DateRange(dates) {
      this.dates = dates;
    },
  },
};
</script>