<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="1440px">
      <!-- btn Create Master -->
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="100%"
          color="#fff"
          style="box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px"
          depressed
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-plus</v-icon> Create Master
        </v-btn>
      </template>
      <!-- title -->
      <v-card class="py-2 px-md-5 px-2">
        <v-card-title class="ma-5">
          <v-row class="text-left align-center">
            <v-col sm="auto" cols="12"
              ><v-img
                class="mx-auto"
                max-height="80"
                max-width="80"
                src="@/assets/create_logo/create_master.png"
              ></v-img
            ></v-col>
            <v-col>
              <div class="create-head">Create Master</div>
              <div class="create-subhead mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </div>
            </v-col>
          </v-row>
        </v-card-title>
        <!-- content -->
        <v-card-text class="pa-0">
          <master-form
            class="mt-5"
            :readonly="false"
            :form="masterForm"
            @MasterForm="MasterForm($event)"
          ></master-form>
        </v-card-text>
        <!-- footer  -->
        <v-card-actions>
          <v-container fluid>
            <v-row class="text-md-left text-center align-center">
              <v-col class="create-subhead">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </v-col>
              <v-col cols="12" md="auto">
                <v-btn
                  class="ma-1"
                  width="150"
                  color="grey"
                  dark
                  depressed
                  @click="dialog = false"
                >
                  Cancel
                </v-btn>
                <v-btn
                  class="ma-1"
                  width="150"
                  color="green"
                  dark
                  depressed
                  @click="dialog = false"
                >
                  Save
                </v-btn></v-col
              >
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import MasterForm from "../../Masters/CreateMaster/MasterForm.vue";
export default {
  components: { MasterForm },
  data: () => ({
    dialog: false,
    masterForm: {
      name: "",
      login_user: "",
      password: "",
      broker_technology_id: "",
      forex_server_id: "",
      subscription_id: "",
      connection_state_id: "",
      on_off: "",
      alert_email: "",
      alert_sms: "",
      comment: "",
    },
  }),
  methods: {
    MasterForm(form) {
      this.masterForm = form;
    },
  },
};
</script>
