<template>
  <!-- range date  -->
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="date"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="dateRangeText"
        background-color="white"
        outlined
        hide-details
        v-bind="attrs"
        v-on="on"
        @click="openMenu()"
        readonly
        append-icon="mdi-menu-down"
        :disabled="disabled"
      ></v-text-field>
    </template>
    <v-date-picker v-model="datesEdit" no-title scrollable range>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="datesEdit = dateDefault">
        Default
      </v-btn>
      <v-btn text color="primary" @click="DateRange()"> OK </v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
export default {
  name: "DateRange",
  props: ["disabled"],
  data: () => ({
    date: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
      .toISOString()
      .substr(0, 10),
    menu: false,
    dates: [],
    datesEdit: [],
    dateDefault: [],
  }),
  watch: {
    pagination: function (val) {
      this.$emit("Page", val);
    },
  },
  computed: {
    dateRangeText() {
      if (this.dates[0] > this.dates[1]) {
        return (
          this.formatDate(this.dates[1]) +
          " - " +
          this.formatDate(this.dates[0])
        );
      }
      return (
        this.formatDate(this.dates[0]) + " - " + this.formatDate(this.dates[1])
      );
    },
  },
  created() {
    //date
    this.dateDefault = [this.date.substr(0, 4) + "-01-01", this.date];
    this.dates = this.dateDefault;
    this.datesEdit = this.dateDefault;
    this.$emit("DateRange", this.dates);
  },
  methods: {
    formatDate(date) {
      if (date == this.date) return "present";
      if (!date) return null;
      const [year, month, day] = date.split("-");
      return `${day}/${month}/${year}`;
    },
    openMenu() {
      if (this.disabled) {
        this.menu = true;
        this.datesEdit = this.dates;
      }
    },
    DateRange() {
      this.dates = this.datesEdit;
      this.$emit("DateRange", this.dates);
      this.menu = false;
    },
  },
};
</script>