<template>
  <v-card color="#F9F9F9" class="shadow-1 text-left">
    <v-container fluid>
      <v-row class="px-md-5 pt-3 mb-5 align-center">
        <!-- Add Master  -->
        <v-col v-if="!readonly" md="3" sm="6" cols="12"
          ><v-btn width="100%" color="#7A86F0" dark depressed @click="Add()">
            <v-icon>mdi-plus</v-icon> Add Master
          </v-btn></v-col
        >
        <!-- Create Master  -->
        <v-col v-if="!readonly" md="3" sm="6" cols="12">
          <create-master-dialog class="mx-1"></create-master-dialog>
        </v-col>
        <v-spacer></v-spacer>
        <!-- Masters Setting Name  -->
        <v-col class="d-inline-flex py-0" sm="6" cols="12">
          <v-subheader>Masters Setting Name</v-subheader>
          <!-- </v-col>
        <v-col class="py-0" md="4" sm="6" cols="12"> -->
          <v-text-field
            v-model="group"
            background-color="white"
            outlined
            hide-details
            :disabled="readonly"
          ></v-text-field>
        </v-col>
      </v-row>
      <!-- i -->
      <v-row no-gutters v-for="(item, i) in mymaster" :key="i" class="mb-5">
        <v-col lg="auto" md="2" cols="4"
          ><v-subheader>{{ i + 1 }}. Master</v-subheader></v-col
        >
        <v-col xl="3" lg="2" md="4" cols="8">
          <v-autocomplete
            v-model="item.name"
            background-color="white"
            outlined
            :rules="$rules_require"
            :items="masterItems"
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <!-- Server -->
        <v-col lg="auto" md="2" cols="4"
          ><v-subheader>Server</v-subheader></v-col
        >
        <v-col xl="3" lg="2" md="4" cols="8">
          <v-text-field
            v-model="item.server"
            background-color="white"
            outlined
            :rules="$rules_require"
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Status -->
        <v-col md="auto" cols="4">
          <v-subheader>Status</v-subheader>
        </v-col>
        <v-col md="auto" cols="8">
          <label class="active toggle-switchy" :for="i" data-size="xl">
            <input
              checked
              type="checkbox"
              v-model="item.status"
              :disabled="readonly"
              :id="i"
            />
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>
        </v-col>
        <!-- Connect State -->
        <v-col lg="auto" md="2" sm="4" cols="12">
          <v-subheader>Connect State</v-subheader>
        </v-col>
        <v-col>
          <v-btn
            :color="item.connect == 1 ? 'primary' : 'red'"
            @click="changeConnectState(i)"
            width="100%"
            min-width="160px"
            outlined
            dark
          >
            <v-icon x-small class="mr-4">mdi-circle</v-icon
            >{{ item.connect == 1 ? "Connected" : "Disconnected" }}
          </v-btn></v-col
        >
        <!-- delete  -->
        <v-col v-if="!readonly" cols="auto" class="text-right">
          <v-btn
            class="mx-1 elevation-0"
            color="red"
            dark
            max-width="36"
            min-width="0"
            @click="Delete(i)"
          >
            <v-icon>mdi-delete-outline</v-icon>
          </v-btn></v-col
        >
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import CreateMasterDialog from "./CreateMasterDialog.vue";
export default {
  components: { CreateMasterDialog },
  props: ["form", "readonly", "group"],
  name: "MyMaster",
  data: () => ({
    masters_setting_name: "",
    mymaster: [],
    masterItems: [
      "Aombot EU1 (184817)",
      "Aombot EU2 (184817)",
      "Aombot EU3 (184817)",
    ],
  }),
  watch: {
    mymaster: function (val) {
      this.$emit("MyMaster", val);
    },
  },
  created() {
    this.mymaster = this.form;
    this.masters_setting_name = this.group;
  },
  methods: {
    Add() {
      if (!this.readonly) {
        this.mymaster.push({ name: "", server: "", status: 0, connect: 0 });
      }
    },
    Delete(index) {
      if (!this.readonly) {
        this.mymaster.splice(index, 1);
      }
    },
    changeConnectState(i) {
      if (!this.readonly) {
        this.mymaster[i].connect = !this.mymaster[i].connect;
      }
    },
  },
};
</script>
