<template>
  <!-- From -->
  <v-card color="#F9F9F9" class="pt-5 shadow-1 text-left">
    <v-container fluid>
      <v-row no-gutters>
        <!-- Slave Name -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Slave Name</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-text-field
            v-model="slaveFrom.name"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Status -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Status</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <label
            class="active toggle-switchy"
            for="status_salves_form"
            data-size="xl"
          >
            <input
              checked
              type="checkbox"
              id="status_salves_form"
              v-model="slaveFrom.status"
              :disabled="readonly"
            />
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>
        </v-col>
        <!-- Connect State -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Connect State</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-btn
            :color="slaveFrom.connectstate ? '#109BFF' : '#CE2021'"
            @click="changeConnectState()"
            width="100%"
            outlined
            dark
          >
            <v-icon x-small class="mr-4">mdi-circle</v-icon>
            {{ slaveFrom.connectstate ? "Connected" : "Disconnected" }}
          </v-btn></v-col
        >
        <!-- Login User -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Login User</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-text-field
            v-model="slaveFrom.loginuser"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Password -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Password</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-text-field
            v-model="slaveFrom.password"
            background-color="white"
            outlined
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            @click:append="showPassword = !showPassword"
            dense
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Subsciption -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Subsciption</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-autocomplete
            v-model="slaveFrom.subscription"
            :items="subscriptionItems"
            dense
            filled
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <!-- platform  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Platform</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-autocomplete
            v-model="slaveFrom.platform"
            :items="platformItems"
            dense
            filled
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <!-- server  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Server</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-autocomplete
            v-model="slaveFrom.server"
            :items="serverItems"
            dense
            filled
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <v-col class="d-none d-lg-block" cols="4"> </v-col>
        <!-- order comment  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Order Comment</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-textarea
            v-model="slaveFrom.ordercomment"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-textarea>
        </v-col>
        <!-- note  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Note</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-textarea
            v-model="slaveFrom.note"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-textarea>
        </v-col>
        <!-- switch  -->
        <v-col lg="4" cols="12">
          <v-container fluid class="pa-0">
            <!-- email alert  -->
            <v-row no-gutters>
              <v-col cols="4" md="2" lg="3" class="mb-5">
                <v-subheader>Email Alert</v-subheader></v-col
              >
              <v-col cols="8" md="4" lg="9"
                ><label
                  class="toggle-switchy"
                  for="email_salves_form"
                  data-size="xl"
                >
                  <input
                    checked
                    type="checkbox"
                    id="email_salves_form"
                    v-model="slaveFrom.email"
                    :disabled="readonly"
                  />
                  <span class="toggle">
                    <span class="switch"></span>
                  </span> </label
              ></v-col>
              <!-- colss alert  -->
              <v-col cols="4" md="2" lg="3">
                <v-subheader>SMS Alert</v-subheader></v-col
              >
              <v-col cols="8" md="4" lg="9"
                ><label
                  class="toggle-switchy"
                  for="sms_salves_form"
                  data-size="xl"
                >
                  <input
                    checked
                    type="checkbox"
                    id="sms_salves_form"
                    v-model="slaveFrom.sms"
                    :disabled="readonly"
                  />
                  <span class="toggle">
                    <span class="switch"></span>
                  </span> </label
              ></v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "SlaveFrom",
  props: ["readonly", "form"],
  data: () => ({
    slaveFrom: [],

    subscriptionItems: ["60 Days", "Free", "20 Days"],
    platformItems: ["MT5", "MT6", "MT7"],
    serverItems: ["XMGlobal-MT5 2", "XMGlobal-MT5 4", "XMGlobal-MT5 5"],

    showPassword: false,
  }),
  created() {
    this.slaveFrom = this.form;
  },
  watch: {
    slaveFrom: function (val) {
      this.$emit("SlaveFrom", val);
    },
  },
  methods: {
    changeConnectState() {
      if (!this.readonly)
        this.slaveFrom.connectstate = !this.slaveFrom.connectstate;
    },
  },
};
</script>