<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" persistent max-width="1440px">
      <!-- btn Create Master -->
      <!-- <template v-slot:activator="{ on, attrs }">
        <v-btn
          width="100%"
          color="#7A86F0"
          dark
          depressed
          v-bind="attrs"
          v-on="on"
        >
          <v-icon>mdi-plus</v-icon> Add Symbol
        </v-btn>
      </template> -->
      <!-- title -->
      <v-card class="py-2 px-md-5 px-2">
        <v-card-title class="ma-5">
          <v-row class="text-left align-center">
            <!-- <v-col sm="auto" cols="12"
              ><v-img
                class="mx-auto"
                max-height="80"
                max-width="80"
                src="@/assets/create_logo/advance_copy_setting.png"
              ></v-img
            ></v-col> -->
            <v-col>
              <div class="create-head">
                {{ readonly ? "View" : type ? "Add" : "Edit" }} Symbol
              </div>
              <div class="create-subhead mb-0">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s
              </div>
            </v-col>
          </v-row>
        </v-card-title>
        <!-- content -->
        <v-card-text class="pa-0">
          <v-card color="#F9F9F9" class="shadow-1 text-left">
            <v-container fluid>
              <v-row no-gutters>
                <!-- Symbol Custom -->
                <v-col class="px-2" lg="3" md="6" cols="12">
                  <v-subheader class="px-0">Symbol Custom</v-subheader>
                  <v-text-field
                    v-model="item.symbol"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- Copy Setting/Preset -->
                <v-col class="px-2" lg="" md="6" cols="12">
                  <v-subheader class="px-0">Copy Setting/Preset</v-subheader>
                  <v-text-field
                    v-model="item.copy"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- Master -->
                <v-col class="px-2" lg="" md="6" cols="12">
                  <v-subheader class="px-0">Master</v-subheader>
                  <v-text-field
                    v-model="item.master"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>

                <!-- Server -->
                <v-col class="px-2" lg="" md="3" cols="12">
                  <v-subheader class="px-0">Server</v-subheader>
                  <v-text-field
                    v-model="item.server"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- Connect State -->
                <v-col class="px-2" lg="2" md="3" cols="12">
                  <v-subheader class="px-0">Connect State</v-subheader>
                  <v-btn
                    :color="connect_state ? '#109BFF' : '#CE2021'"
                    width="100%"
                    min-width="160px"
                    outlined
                    dark
                    @click="changeConnectState()"
                  >
                    <v-icon x-small class="mr-4">mdi-circle</v-icon>
                    {{ connect_state ? "Connected" : "Disconnected" }}
                  </v-btn>
                </v-col></v-row
              >
              <v-row no-gutters>
                <!-- Risk Factor type/value -->
                <v-col class="px-2" lg="2" md="4" cols="8">
                  <v-subheader class="px-0">Risk Factor type/value</v-subheader>
                  <v-text-field
                    v-model="item.risk"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- = -->
                <v-col class="px-2" lg="1" md="2" cols="4">
                  <v-subheader class="px-0"></v-subheader>
                  <v-text-field
                    v-model="item.value"
                    :disabled="readonly"
                    prefix="="
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>

                <!-- Max Order Size  -->
                <v-col class="px-2" lg="" md="6" cols="6">
                  <v-subheader class="px-0">Max Order Size</v-subheader>
                  <v-text-field
                    v-model="item.order"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- Max Risk % -->
                <v-col class="px-2" lg="" md="6" cols="6">
                  <v-subheader class="px-0">Max Risk %</v-subheader>
                  <v-text-field
                    v-model="item.maxrisk"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- Copier Status -->
                <v-col class="px-2" lg="" md="6" cols="6">
                  <v-subheader class="px-0">Copier Status</v-subheader>
                  <v-text-field
                    v-model="item.copier"
                    :disabled="readonly"
                    background-color="white"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <!-- Status -->
                <v-col class="px-2" cols="auto">
                  <v-subheader class="px-0">Status</v-subheader>
                  <label
                    class="active toggle-switchy"
                    for="statusAdv"
                    data-size="xl"
                  >
                    <input
                      v-model="item.status"
                      :disabled="readonly"
                      checked
                      type="checkbox"
                      id="statusAdv"
                    />
                    <span class="toggle">
                      <span class="switch"></span>
                    </span>
                  </label>
                </v-col>

                <!-- bin -->
                <!-- <v-col v-if="!type" cols="auto" class="text-right mx-2">
                  <v-subheader class="px-0"></v-subheader>
                  <v-btn
                    class="elevation-0"
                    color="red"
                    dark
                    max-width="36"
                    min-width="0"
                  >
                    <v-icon class="">mdi-delete-outline</v-icon>
                  </v-btn></v-col
                > -->
              </v-row></v-container
            >
          </v-card>
        </v-card-text>
        <!-- footer  -->
        <v-card-actions>
          <v-container fluid>
            <v-row class="text-md-left text-center align-center">
              <v-col class="create-subhead">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </v-col>
              <v-col cols="12" md="auto">
                <v-btn
                  class="ma-1"
                  width="150"
                  color="grey"
                  dark
                  depressed
                  @click="close()"
                >
                  Cancel
                </v-btn>
                <v-btn
                  v-if="!readonly"
                  class="ma-1"
                  width="150"
                  color="green"
                  dark
                  depressed
                  @click="close()"
                >
                  Save
                </v-btn></v-col
              >
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: ["dialog", "type", "item", "readonly"],
  data: () => ({
    connect_state: 0,
  }),
  watch: {},

  methods: {
    close() {
      this.$emit("Dialog", false);
    },
    changeConnectState() {
      if (!this.readonly) this.connect_state = !this.connect_state;
    },
  },
};
</script>
