<template>
  <div>
    <!-- Expanded -->
    <v-expansion-panels v-model="panel" multiple accordion>
      <!-- GOFX  -->
      <v-expansion-panel readonly class="py-md-4 mb-3" relative>
        <!-- icon  -->
        <v-img
          class="logo"
          src="../../../assets/menu_icon/slave_menu.svg"
        ></v-img>
        <!-- header  -->
        <v-expansion-panel-header class="padding-x mt-5 mt-md-0">
          <v-row
            class="align-center justify-space-between text-md-left text-center"
          >
            <v-col cols="12" md="auto">
              <div class="create-head">SAND GOFX - 1971402</div>
            </v-col>
            <!-- btn  -->
            <v-col cols="12" md="auto">
              <v-btn
                v-if="!view"
                class="ma-1"
                width="150"
                color="grey"
                dark
                depressed
                @click="$router.go(-1)"
              >
                Cancel
              </v-btn>
              <v-btn
                v-if="!view"
                class="ma-1"
                width="150"
                color="green"
                dark
                depressed
                @click="save()"
              >
                Save
              </v-btn>
              <v-btn
                v-if="view"
                class="ma-1"
                width="150"
                color="#CE2021"
                @click="deleteDialog = true"
                dark
                depressed
              >
                Delete
              </v-btn>
              <delete-dialog
                :deleteDialog="deleteDialog"
                @Delete="Delete($event)"
              ></delete-dialog>
              <v-btn
                v-if="view"
                class="ma-1"
                width="150"
                color="#109BFF"
                dark
                depressed
                @click="edit()"
              >
                Edit
              </v-btn></v-col
            >
            <v-col cols="12" class="create-subhead">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown dummy text ever since the
              1500s, when an unknown
            </v-col>
          </v-row>

          <template v-slot:actions>
            <v-icon> </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <v-data-table
            style="width: 100%"
            :headers="headers"
            :items="desserts"
            hide-default-footer
            class="elevation-0 detail-table"
          >
          </v-data-table>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- create slaves  -->
      <v-expansion-panel class="py-md-4" relative>
        <!-- header  -->
        <v-expansion-panel-header>
          <v-row class="align-center text-left">
            <v-col cols="auto">
              <!-- icon number  -->
              <div class="number-50 pa-1" style="background-color: #e8e8e8">
                <h2>1</h2>
              </div></v-col
            >
            <v-col cols="100">
              <div class="create-head">Create Slave</div>
            </v-col>
          </v-row>

          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <slave-form
            class="mt-5"
            :readonly="view"
            :form="slaveForm"
            @SlaveForm="SlaveForm($event)"
          ></slave-form>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- tabs  -->
      <v-slide-group multiple show-arrows class="mt-3" max-width="100%">
        <v-slide-item v-for="(item, i) in tabs" :key="i">
          <v-btn
            class="rounded-b-0 rounded-t-lg ml-1"
            :color="item.active ? '#CE2021' : '#fff'"
            :dark="item.active"
            large
            @click="Tab(i)"
          >
            {{ item.name }}
          </v-btn>
        </v-slide-item>
        <v-slide-item v-if="!view">
          <add-group-dialog></add-group-dialog>
        </v-slide-item>
      </v-slide-group>

      <!-- my master  -->
      <v-expansion-panel
        class="py-md-4 mb-3"
        relative
        @click="openExpand"
        readonly
      >
        <!-- header  -->
        <v-expansion-panel-header>
          <v-row class="align-center text-left">
            <v-col cols="auto">
              <!-- icon number  -->
              <div class="number-50 pa-1" style="background-color: #e8e8e8">
                <h2>2</h2>
              </div></v-col
            >
            <v-col cols="100">
              <div class="create-head">My Master</div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <my-master
            :readonly="view"
            :form="myMaster"
            @MyMaster="MyMaster($event)"
          ></my-master>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- copy setting  -->
      <v-expansion-panel
        class="py-md-4 mb-3"
        relative
        @click="openExpand"
        readonly
      >
        <!-- header  -->
        <v-expansion-panel-header>
          <v-row class="align-center text-left">
            <v-col cols="auto">
              <!-- icon number  -->
              <div class="number-50 pa-1" style="background-color: #e8e8e8">
                <h2>3</h2>
              </div></v-col
            >
            <v-col cols="100">
              <div class="create-head">
                Copy Setting : {{ selectedTab[0].name }}
              </div>
            </v-col>
          </v-row>

          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <!--  -->
          <copy-setting
            :readonly="view"
            :form="copySetting"
            @CopySetting="CopySetting($event)"
          ></copy-setting>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- advance copy setting  -->
      <v-expansion-panel
        class="py-md-4 mb-3"
        relative
        @click="openExpand"
        readonly
      >
        <!-- header  -->
        <v-expansion-panel-header>
          <v-row class="align-center text-left">
            <v-col cols="auto">
              <!-- icon number  -->
              <div class="number-50 pa-1" style="background-color: #e8e8e8">
                <h2>4</h2>
              </div></v-col
            >
            <v-col cols="100">
              <div class="create-head">
                Advance Copy Setting : {{ selectedTab[0].name }}
              </div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <!--  -->
          <advance-copy-setting :readonly="view"></advance-copy-setting>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <!-- footer -->
    <v-card class="shadow padding-x" style="z-index: 1">
      <v-container fluid>
        <v-row class="text-md-left text-center align-center">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="save()"
            >
              Save
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#CE2021"
              depressed
              @click="deleteDialog = true"
              dark
            >
              Delete
            </v-btn>
            <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              depressed
              @click="edit()"
            >
              Edit
            </v-btn></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import AddGroupDialog from "../../../components/Slaves/CreateSlave.vue/AddGroupDialog.vue";
import AdvanceCopySetting from "../../../components/Slaves/CreateSlave.vue/AdvanceCopySetting.vue";
import CopySetting from "../../../components/Slaves/CreateSlave.vue/CopySetting.vue";
import MyMaster from "../../../components/Slaves/CreateSlave.vue/MyMaster.vue";
import SlaveForm from "../../../components/Slaves/CreateSlave.vue/SlaveForm.vue";
import DeleteDialog from "../../../components/Table/DeleteDialog.vue";
export default {
  components: {
    MyMaster,
    CopySetting,
    AdvanceCopySetting,
    SlaveForm,
    DeleteDialog,
    AddGroupDialog,
  },
  name: "CreateSlaves",

  data: () => ({
    view: true,
    deleteDialog: false,
    panel: [0, 1, 2, 3, 4],
    tabs: [
      { name: "My master", active: true },
      { name: "รวมออมบอท", active: false },
    ],
    //
    slaveForm: {
      name: "",
      status: 0,
      connectstate: 0,
      loginuser: " ",
      password: "",
      subscription: " ",
      platform: "",
      server: "",
      ordercomment: " ",
      note: "",
      email: 0,
      sms: 0,
    },
    myMaster: [
      {
        name: "Aombot EU1 (184817)",
        server: "XMGlobal-MT5-2",
        status: 1,
        connect: 1,
      },
      {
        name: "Aombot EU2 (184817)",
        server: "XMGlobal-MT5-2",
        status: 1,
        connect: 1,
      },
      {
        name: "Aombot EU3 (184817)",
        server: "XMGlobal-MT5-2",
        status: 1,
        connect: 0,
      },
    ],
    copySetting: {
      preset: "",
      name: "",
      risk: "",
      value: "",
      max_order: "",
      copier: "11",
      pending: 0,
      stopLoss: 1,
      takeProfit: 0,
      max_risk: "",
      max_account_pos: "",
      max_symbol: "",
      max_account: "",
    },
    headers: [
      {
        text: "Symbol",
        align: "start",
        value: "symbol",
        sortable: false,
      },
      { text: "Master", value: "master", sortable: false },
      { text: "Copy Setting", value: "copy", sortable: false },
      { text: "value", value: "value", sortable: false },
      { text: "Risk Factor type", value: "risk", sortable: false },
      { text: "Max Order Size", value: "order", sortable: false },
      { text: "Max Risk %", value: "maxrisk", sortable: false },
      { text: "Status", value: "status", sortable: false },
      { text: "Copier Status", value: "copier", sortable: false },
    ],
    desserts: [
      {
        symbol: "XAUUSD",
        master: "Aombot GOLD (984815)",
        copy: "Custom",
        risk: "Multiplier (Lot)",
        value: "2.00",
        order: "0.10",
        maxrisk: "0.10",
        status: 1,
        copier: "On",
      },
    ],
  }),
  computed: {
    selectedTab() {
      return this.tabs.filter((a) => a.active == true);
    },
  },
  created() {
    this.slaveForm = this.$route.params;
  },
  methods: {
    Tab(i) {
      this.tabs.map((a) => (a.active = false));
      this.tabs[i].active = true;
    },
    openExpand() {
      if (this.panel.length <= 2) {
        this.panel.push(2, 3, 4);
      } else {
        this.panel.splice(this.panel.indexOf(2), 1);
        this.panel.splice(this.panel.indexOf(3), 1);
        this.panel.splice(this.panel.indexOf(4), 1);
      }
    },

    // Form
    SlaveForm(form) {
      this.slaveForm = form;
    },
    // My Master
    MyMaster(myMaster) {
      this.myMaster = myMaster;
    },
    // Copy Setting
    CopySetting(copySetting) {
      this.copySetting = copySetting;
    },

    // btn
    save() {
      this.view = true;

      this.panel = [0, 1, 2, 3, 4];
    },
    edit() {
      this.view = false;
      this.panel = [0, 1];
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.masterForm.name);
        this.deleteDialog = false;
        this.$router.go(-1);
      } else {
        this.deleteDialog = false;
      }
    },
  },
};
</script>

