<template>
  <!-- Account Sertting -->
  <div>
    <v-card class="relative shadow mb-3 py-5">
      <!-- icon  -->
      <v-img
        class="logo"
        src="../../../assets/menu_icon/group_menu.svg"
      ></v-img>
      <!-- how to -->
      <v-container class="padding-x mt-5 mt-md-0" fluid>
        <v-row class="align-center justify-space-between">
          <v-col cols="12" md="auto">
            <div class="create-head">Group - {{ groupName }}</div>
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="save()"
            >
              Save
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#CE2021"
              depressed
              @click="deleteDialog = true"
              dark
            >
              Delete
            </v-btn>
            <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              depressed
              @click="edit()"
            >
              Edit
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="green"
              depressed
              dark
            >
              Confirm
            </v-btn></v-col
          >
        </v-row>
        <v-row class="mt-0 text-left">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown dummy text ever since the
            1500s, when an unknown
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <!-- Expanded -->
    <v-expansion-panels v-model="panel" multiple accordion>
      <!-- create slaves  -->
      <v-expansion-panel class="py-md-4 mb-3">
        <!-- header  -->
        <v-expansion-panel-header>
          <v-row class="align-center text-md-left text-center">
            <!-- img  -->
            <v-col cols="auto">
              <!-- icon number  -->
              <div class="number-50" style="background-color: #e8e8e8">
                <h2>0</h2>
              </div></v-col
            >
            <v-col cols="100">
              <div class="create-head">Create Group</div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <group-from
            class="mt-5"
            :readonly="view"
            :from="groupFrom"
            @GroupFrom="GroupFrom($event)"
          ></group-from>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <!-- Choose Member  -->
    <v-card class="relative shadow my-3" relative>
      <!-- header  -->
      <div class="px-5">
        <v-row class="pt-4 pb-4 align-center text-md-left text-center">
          <!-- img  -->
          <v-col cols="auto">
            <!-- icon number  -->
            <div class="number-50" style="background-color: #e8e8e8">
              <h2>1</h2>
            </div></v-col
          >
          <v-col cols="100">
            <div class="create-head">My Slave</div>
          </v-col>
        </v-row>
      </div>

      <!-- content  -->
      <div class="table">
        <v-container class="pt-5" fluid>
          <v-row
            class="px-5 align-center justify-lg-space-between justify-center"
          >
            <!-- input search  -->
            <v-col cols="12" sm="auto">
              <div
                class="
                  d-flex
                  align-center
                  justify-md-space-between justify-center
                "
              >
                <b>Search :</b>
                <v-text-field
                  v-model="search"
                  class="ml-2"
                  color="black"
                  placeholder="Master Name, Login User"
                  outlined
                  dense
                  hide-details
                ></v-text-field></div
            ></v-col>
            <v-col cols="12" sm="auto">
              <v-row class="align-center justify-center" no-gutters>
                <!-- Add Member  -->
                <add-member-dialog v-if="!view"></add-member-dialog>
                <!-- Set Copy Setting  -->
                <copy-setting-dialog v-if="!view"> </copy-setting-dialog>
                <!--  -->
                <!-- <confirm-copy-setting-dialog></confirm-copy-setting-dialog> -->
                <!-- Column Visibility  -->
                <column-visibility
                  :headers="headers"
                  @ColumnVisibility="ColumnVisibility($event)"
                ></column-visibility>
                <!-- Delete Masters  -->
                <v-col v-if="!view" cols="auto" class="mr-2 mb-2">
                  <v-btn color="black" outlined dark @click="SelectDelete()">
                    Delete Slaves
                  </v-btn>
                  <!-- Delete Masters Dialog  -->
                  <delete-dialog
                    :selected="selected"
                    :deleteDialog="deleteDialog"
                    @Delete="Delete($event)"
                  ></delete-dialog
                ></v-col>
                <!-- Cancel select  -->
                <v-col v-if="selectTable" cols="auto" class="mr-2 mb-2">
                  <v-btn
                    color="#CE2021"
                    outlined
                    dark
                    @click="
                      selectTable = false;
                      selected = [];
                    "
                  >
                    Cancel
                  </v-btn>
                </v-col>
                <!-- filter  -->
                <filter-dialog
                  class="mb-3"
                  :filter="filter"
                  :filterDefault="filterDefault"
                  @filter="Filter($event)"
                ></filter-dialog> </v-row
            ></v-col>
          </v-row>

          <!-- table  -->
          <v-row>
            <v-col class="pa-0" cols="12"
              ><!-- table  -->
              <v-data-table
                class="table"
                v-model="selected"
                :search="search"
                :headers="headersFilter"
                :items="data"
                :page.sync="page"
                :items-per-page="display"
                :show-select="selectTable"
                hide-default-footer
                @page-count="pageCount = $event"
              >
                <!-- name  -->
                <template v-slot:[`item.name`]="{ item }">
                  <router-link :to="{ name: 'EditMasters', params: item }">{{
                    item.name
                  }}</router-link>
                </template>
                <!-- status  -->
                <template v-slot:[`item.status`]="{ item }">
                  <v-switch
                    v-model="item.status"
                    inset
                    dense
                    hide-details
                    color="#109BFF"
                  ></v-switch>
                </template>
                <!-- Connect  -->
                <template v-slot:[`item.connect`]="{ item }">
                  <span :style="item.connect ? '' : 'color: #CE2021;'">{{
                    item.connect ? "Connect" : "Disconnect"
                  }}</span>
                </template>
                <!-- Edit  -->
                <template v-slot:[`item.edit`]="{}">
                  <v-btn
                    color="#109BFF"
                    @click="settingDialog = true"
                    depressed
                    dark
                  >
                    Edit
                  </v-btn>
                </template>

                <!-- border -->
                <template v-slot:[`body.append`]>
                  <v-divider></v-divider>
                </template>
                <template v-slot:top>
                  <v-divider></v-divider>
                </template>
              </v-data-table>
              <edit-copy-setting-dialog
                :view="view"
                :settingDialog="settingDialog"
                @Setting="Setting($event)"
              ></edit-copy-setting-dialog>
              <!-- footer  -->

              <Footer
                :page="page"
                :pageCount="pageCount"
                :display="display"
                :length="data.length"
                @Page="Page($event)"
              ></Footer>
            </v-col>
          </v-row>
        </v-container></div
    ></v-card>

    <!-- footer -->
    <v-card class="shadow padding-x" style="z-index: 1">
      <v-container fluid>
        <v-row class="text-md-left text-center align-center">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="save()"
            >
              Save
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#CE2021"
              depressed
              @click="deleteDialog = true"
              dark
            >
              Delete
            </v-btn>
            <!-- <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog> -->
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              depressed
              @click="edit()"
            >
              Edit
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="green"
              depressed
              dark
            >
              Confirm
            </v-btn></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>


<script>
import AddMemberDialog from "../../../components/Groups/CreateMaster/AddMemberDialog.vue";
// import ConfirmCopySettingDialog from "../../../components/Groups/CreateMaster/ConfirmCopySettingDialog.vue";
import CopySettingDialog from "../../../components/Groups/CreateMaster/CopySettingDialog.vue";
import EditCopySettingDialog from "../../../components/Groups/CreateMaster/EditCopySettingDialog.vue";
// Table
import GroupFrom from "../../../components/Groups/CreateMaster/GroupForm.vue";
import ColumnVisibility from "../../../components/Table/ColumnVisibility.vue";
import DeleteDialog from "../../../components/Table/DeleteDialog.vue";
import FilterDialog from "../../../components/Table/FilterDialog.vue";
import Footer from "../../../components/Table/Footer.vue";
export default {
  name: "GroupSettings",
  components: {
    DeleteDialog,
    FilterDialog,
    ColumnVisibility,
    Footer,
    AddMemberDialog,
    CopySettingDialog,
    EditCopySettingDialog,
    // ConfirmCopySettingDialog,
    GroupFrom,
  },

  data: () => ({
    view: true,
    panel: [0, 1],
    groupName: "Profit 10%",
    groupFrom: [],

    settingDialog: false,
    //search
    search: "",
    //display
    display: 5,
    exportItems: ["PDF"],
    page: 1,
    pageCount: 0,
    //Filter
    filter: [
      {
        label: "Server",
        name: "server",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Broker",
        name: "broker",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Platform",
        name: "platform",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      { label: "Status", name: "status", item: ["All", "On", "Off"] },
      {
        label: "Connect State",
        name: "connection_state_id",
        item: ["All", "On", "Off"],
      },
      { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
      { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
      { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
    ],
    filterDefault: {
      server: "XMGlobal-MT5 2",
      broker: "All",
      platform: "All",
      status: "All",
      connection_state_id: "All",
      expiration: "All",
      alert_email: "All",
      alert_sms: "All",
    },
    //
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Name", value: "name", sortable: false },
      { text: "Login User", value: "user", sortable: false },
      { text: "Risk Factor Type", value: "risk_factor_type", sortable: false },
      {
        text: "Risk Factor Value",
        value: "risk_factor_value",
        sortable: false,
      },
      { text: "Edit Slaves", value: "edit", align: "center", sortable: false },
      { text: "Demo/Real", value: "server", sortable: false },
      { text: "Broker", value: "broker", sortable: false },
      { text: "Server", value: "server", sortable: false },
      { text: "Platform", value: "platform", align: "center" },

      { text: "Created Date", value: "created_date", sortable: false },
      { text: "Status", value: "status", sortable: false },
      {
        text: "Connect State",
        value: "connect_state",
        align: "center",
        sortable: false,
      },
      {
        text: "Subsciption Type",
        value: "subsciption_type",
        align: "center",
        sortable: false,
      },
      { text: "Expiration", value: "expiration", sortable: false },
      { text: "Group", value: "group", align: "center" },
      { text: "Email", value: "email", align: "center", sortable: false },
      { text: "SMS", value: "sms", align: "center", sortable: false },
      { text: "Balance", value: "balance", sortable: false },
      { text: "Equity", value: "equity", sortable: false },
      { text: "Leverage", value: "leverage", sortable: false },
      {
        text: "Last Position Date",
        value: "last_position_date",
        sortable: false,
      },
      { text: "Last login", value: "last_login", sortable: false },
    ],
    data: [],

    // delete
    selected: [],
    //selectable
    selectTable: false,
    deleteDialog: false,
    // selectedColumns
    headersFilter: [],
  }),
  created() {
    // set data
    this.data = [
      {
        id: "01",
        name: "slave_name01",
        user: "xxxxx",
        demo_real: "Demo",
        broker: "xxx",
        server: "xxx",
        platform: "xxx",
        group: "xxx",
        created_date: "xxx",
        status: 0,
        connect_state: 1,
        subsciption_type: "xxxxx",
        expiration: "xxxxx",
        email: 1,
        sms: 1,
        balance: "xxx",
        equity: "xxx",
        leverage: "xxx",
        last_position_date: "xx/xx/xx",
        risk_factor_type: "xxxx",
        risk_factor_value: "xxxx",
        last_login: "xxxxx",
      },
      {
        id: "02",
        name: "slave_name02",
        user: "xxxxx",
        demo_real: "Demo",
        broker: "xxx",
        server: "xxx",
        platform: "xxx",
        group: "xxx",
        created_date: "xxx",
        status: 1,
        connect_state: 0,
        subsciption_type: "xxxxx",
        expiration: "xxxxx",
        email: 0,
        sms: 1,
        balance: "xxx",
        equity: "xxx",
        leverage: "xxx",
        last_position_date: "xx/xx/xx",
        risk_factor_type: "xxxx",
        risk_factor_value: "xxxx",
        last_login: "xxxxx",
      },
      {
        id: "03",
        name: "slave_name03",
        user: "xxxxx",
        demo_real: "Demo",
        broker: "xxx",
        server: "xxx",
        platform: "xxx",
        group: "xxx",
        created_date: "xxx",
        status: 1,
        connect_state: 0,
        subsciption_type: "xxxxx",
        expiration: "xxxxx",
        email: 0,
        sms: 1,
        balance: "xxx",
        equity: "xxx",
        leverage: "xxx",
        last_position_date: "xx/xx/xx",
        risk_factor_type: "xxxx",
        risk_factor_value: "xxxx",
        last_login: "xxxxx",
      },
    ];
  },
  computed: {},
  methods: {
    // From
    GroupFrom(from) {
      this.groupFrom = from;
    },
    //////////// Table ///////////
    // delete
    SelectDelete() {
      if (this.selected.length == 0) {
        this.selectTable = true;
      } else {
        this.deleteDialog = true;
      }
    },
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },

    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.masterFrom.name);
        this.deleteDialog = false;
        this.$router.go(-1);
      } else {
        this.deleteDialog = false;
      }
    },
    // from Edit
    Setting(event) {
      this.settingDialog = event;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //////////////// btn //////////////

    // btn
    save() {
      this.view = true;
    },
    edit() {
      this.view = false;
    },
  },
};
</script>