<template>
  <!-- Form -->
  <v-card color="#F9F9F9" class="pt-5 shadow-1 text-left">
    <v-container fluid>
      <v-row no-gutters>
        <!-- Slave Name -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Master Name</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-text-field
            v-model="masterForm.name"
            background-color="white"
            outlined
            :disabled="readonly"
            required
          ></v-text-field>
        </v-col>
        <!-- Status -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Status</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <label
            class="active toggle-switchy"
            for="status_master_form"
            data-size="xl"
          >
            <input
              checked
              type="checkbox"
              id="status_master_form"
              v-model="masterForm.on_off"
              :disabled="readonly"
            />
            <span class="toggle">
              <span class="switch"></span>
            </span>
          </label>
        </v-col>
        <!-- Connect State -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Connect State</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-btn
            :color="masterForm.connection_state_id ? '#109BFF' : '#CE2021'"
            @click="changeConnectState()"
            width="100%"
            outlined
            dark
          >
            <v-icon x-small class="mr-4">mdi-circle</v-icon>
            {{ masterForm.connection_state_id ? "Connected" : "Disconnected" }}
          </v-btn></v-col
        >
        <!-- Login User -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Login User</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-text-field
            v-model="masterForm.login_user"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Password -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Password</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-text-field
            v-model="masterForm.password"
            background-color="white"
            outlined
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPassword ? 'text' : 'password'"
            @click:append="showPassword = !showPassword"
            dense
            :disabled="readonly"
          ></v-text-field>
        </v-col>
        <!-- Subsciption -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Subsciption</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-autocomplete
            v-model="masterForm.subscription_id"
            :items="subscriptionItems"
            dense
            filled
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <!-- platform  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Platform</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-autocomplete
            v-model="masterForm.broker_technology_id"
            :items="platformItems"
            dense
            filled
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <!-- server  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Server</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-autocomplete
            v-model="masterForm.forex_server_id"
            :items="serverItems"
            dense
            filled
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-autocomplete>
        </v-col>
        <v-col class="d-none d-lg-block" cols="4"> </v-col>
        <!-- order comment  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Order Comment</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-textarea
            v-model="masterForm.comment"
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-textarea>
        </v-col>
        <!-- note  -->
        <v-col cols="4" md="2" lg="1">
          <v-subheader>Note</v-subheader>
        </v-col>
        <v-col cols="8" md="4" lg="3">
          <v-textarea
            background-color="white"
            outlined
            :disabled="readonly"
          ></v-textarea>
        </v-col>
        <!-- switch  -->
        <v-col lg="4" cols="12">
          <v-container fluid class="pa-0">
            <!-- email alert  -->
            <v-row no-gutters>
              <v-col cols="4" md="2" lg="3" class="mb-5">
                <v-subheader>Email Alert</v-subheader></v-col
              >
              <v-col cols="8" md="4" lg="9"
                ><label
                  class="toggle-switchy"
                  for="email_master_form"
                  data-size="xl"
                >
                  <input
                    checked
                    type="checkbox"
                    id="email_master_form"
                    v-model="masterForm.alert_email"
                    :disabled="readonly"
                  />
                  <span class="toggle">
                    <span class="switch"></span>
                  </span> </label
              ></v-col>
              <!-- colss alert  -->
              <v-col cols="4" md="2" lg="3">
                <v-subheader>SMS Alert</v-subheader></v-col
              >
              <v-col cols="8" md="4" lg="9"
                ><label
                  class="toggle-switchy"
                  for="sms_master_form"
                  data-size="xl"
                >
                  <input
                    checked
                    type="checkbox"
                    id="sms_master_form"
                    v-model="masterForm.alert_sms"
                    :disabled="readonly"
                  />
                  <span class="toggle">
                    <span class="switch"></span>
                  </span> </label
              ></v-col>
            </v-row>
          </v-container>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "MasterForm",
  props: ["readonly", "form"],
  data: () => ({
    masterForm: {},
    subscriptionItems: ["60 Days", "Free", "20 Days"],
    platformItems: ["MT5", "MT6", "MT7"],
    serverItems: ["XMGlobal-MT5 2", "XMGlobal-MT5 4", "XMGlobal-MT5 5"],
    showPassword: false,
  }),
  created() {
    this.masterForm = this.form;
  },
  watch: {
    masterForm: function (val) {
      this.$emit("MasterForm", val);
    },
  },
  methods: {
    changeConnectState() {
      if (!this.readonly)
        this.masterForm.connection_state_id =
          !this.masterForm.connection_state_id;
    },
  },
};
</script>