<template>
  <v-data-table
    class="detail-table"
    :headers="headers"
    :items="data"
    hide-default-footer
  >
    <!-- icon  -->
    <template v-slot:[`header.`]="{}">
      <v-icon>mdi-subdirectory-arrow-right</v-icon>
    </template>
    <!-- status  -->
    <template v-slot:[`item.status`]="{ item }">
      <v-switch
        v-model="item.status"
        color="#109BFF"
        inset
        dense
        hide-details
      ></v-switch>
    </template>
    <!-- Pending  -->
    <template v-slot:[`item.pending`]="{ item }">
      <v-checkbox
        v-model="item.pending"
        color="#109BFF"
        hide-details
      ></v-checkbox>
    </template>
    <!-- Stop Loss  -->
    <template v-slot:[`item.stop_loss`]="{ item }">
      <v-checkbox
        v-model="item.stop_loss"
        color="#109BFF"
        hide-details
      ></v-checkbox>
    </template>
    <!-- takeprofit  -->
    <template v-slot:[`item.take_profit`]="{ item }">
      <v-checkbox
        v-model="item.take_profit"
        color="#109BFF"
        hide-details
      ></v-checkbox>
    </template>
    <!-- Connect  -->
    <template v-slot:[`item.connect_state`]="{ item }">
      <span :style="item.connect_state ? '' : 'color: #CE2021;'">{{
        item.connect_state ? "Connect" : "Disconnect"
      }}</span>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "SlaveDetailTable",
  props: ["id"],
  data() {
    return {
      headers: [
        {
          text: "",
          sortable: false,
          value: "",
          width: "1%",
        },
        {
          text: "ID",
          value: "id",
        },
        { text: "Copy Master", value: "copy_master" },
        { text: "Pending", value: "pending", align: "center", sortable: false },
        {
          text: "StopLoss",
          value: "stop_loss",
          align: "center",
          sortable: false,
        },
        {
          text: "TakeProfit",
          value: "take_profit",
          align: "center",
          sortable: false,
        },
        { text: "Risk Factor Type", value: "risk_factor_type" },
        { text: "value", value: "value" },
        { text: "Preset", value: "preset" },
        { text: "Status", value: "status", align: "center" },
        { text: "Connect State", value: "connect_state" },
        { text: "Expiration", value: "expiration" },
      ],
      data: [],
    };
  },
  created() {
    this.data = [
      {
        id: this.id,
        copy_master: "xxxxxxxxxxxxx",
        pending: 1,
        stop_loss: 0,
        take_profit: 1,
        risk_factor_type: "Multiplier",
        value: "2.00",
        preset: "AOMBOT 3%",
        status: 0,
        connect_state: 0,
        expiration: "Free Lifetime",
      },
    ];
  },
};
</script>

<style>
</style>