<template>
  <!-- total master -->
  <v-container fluid>
    <v-row class="align-center justify-center">
      <v-col cols="auto">
        <h2 id="title" class="d-flex" :style="'color:' + titlecolor">
          <!-- <v-img
            class="mr-4"
            max-height="36"
            max-width="36"
            src="../../assets/icon.svg"
          ></v-img> -->

          <!-- icon -->
          <v-img
            class="mr-4"
            max-height="36"
            max-width="36"
            min-height="36"
            min-width="36"
            style="
              filter: invert(9%) sepia(87%) saturate(7193%) hue-rotate(355deg)
                brightness(105%) contrast(77%);
            "
            :src="require('../../assets/menu_icon/' + logo + '_menu.svg')"
          ></v-img>
          <!-- Show All Master Order -->
          {{ title }}
        </h2>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="auto">
        <h2 v-if="total">{{ subtitle }} : {{ total }} {{ unit }}</h2>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-card class="shadow-2 pa-5">
          <v-container fluid>
            <v-row>
              <v-col>
                <h1 style="color: green">${{ numberWithCommas(profit) }}</h1>
                <p>Profit</p>
              </v-col>
              <v-col>
                <h1 style="color: #ce2021">${{ numberWithCommas(loss) }}</h1>
                <p>Loss</p>
              </v-col>
              <v-col>
                <h1>{{ win }}%</h1>
                <p>Win%</p>
              </v-col>
              <v-col>
                <h1>{{ order }}</h1>
                <p>Order</p>
              </v-col>
              <v-col>
                <h1>{{ lots }}</h1>
                <p>Lots</p>
              </v-col>
            </v-row></v-container
          >
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "ShowAllTotal",
  props: [
    "title",
    "titlecolor",
    "subtitle",
    "unit",
    "total",
    "profit",
    "loss",
    "win",
    "order",
    "lots",
    "logo",
  ],
  methods: {
    numberWithCommas(x) {
      if (x != undefined)
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
  },
};
</script>