<template>
  <!-- All Groups  -->
  <v-card class="text-left card-content shadow pt-5">
    <v-container fluid>
      <!-- head  -->
      <v-row
        class="align-center justify-md-space-between justify-center mx-4"
        no-gutters
      >
        <!-- title  -->
        <v-col id="title" cols="12" sm="auto" class="d-inline-flex mr-2 my-1">
          <v-img
            class="menu-icon mr-4"
            max-height="36"
            max-width="36"
            min-height="36"
            min-width="36"
            src="../../assets/menu_icon/group_menu.svg"
          ></v-img>
          <h2>All Groups</h2>
        </v-col>

        <v-spacer class="d-md-block d-none"></v-spacer>

        <!-- Display  -->
        <display-selected
          :display="display"
          @Display="Display($event)"
        ></display-selected>

        <!-- select export  -->
        <export></export>

        <!-- filter  -->
        <filter-dialog
          :filter="filter"
          :filterDefault="filterDefault"
          @filter="Filter($event)"
        ></filter-dialog>
        <!--  -->
      </v-row>

      <!-- head -->
      <v-row
        class="align-center justify-lg-space-between justify-center ma-4"
        no-gutters
      >
        <!-- input search  -->
        <v-col
          cols="100"
          sm="auto"
          class="d-inline-flex align-center mr-2 mb-2"
        >
          <b>Search :</b>
          <v-text-field
            v-model="search"
            class="ml-2"
            color="black"
            placeholder="Preset Name, Login User"
            outlined
            dense
            hide-details
          ></v-text-field
        ></v-col>

        <v-spacer class="d-md-block d-none"></v-spacer>

        <!-- create groups  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <router-link
            :to="{ name: 'CreateGroups' }"
            style="text-decoration: none"
          >
            <v-btn color="black" outlined dark>
              Create Group
            </v-btn></router-link
          ></v-col
        >

        <!-- Column Visibility  -->
        <column-visibility
          :headers="headers"
          @ColumnVisibility="ColumnVisibility($event)"
        ></column-visibility>

        <!-- Delete Groups  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <v-btn color="black" outlined dark @click="SelectDelete()">
            Delete Group
          </v-btn>
          <!-- Delete Groups Dialog  -->
          <delete-dialog
            :selected="selected"
            :deleteDialog="deleteDialog"
            @Delete="Delete($event)"
          ></delete-dialog
        ></v-col>
        <!-- Cancel  -->
        <v-col v-if="selectTable" cols="auto" class="mr-2 mb-2">
          <v-btn
            color="#CE2021"
            outlined
            dark
            @click="
              selectTable = false;
              selected = [];
            "
          >
            Cancel
          </v-btn>
        </v-col>
      </v-row>

      <!-- table  -->
      <v-row>
        <v-col class="pa-0" cols="12"
          ><!-- table  -->
          <v-data-table
            class="table"
            v-model="selected"
            :search="search"
            :headers="headersFilter"
            :items="data"
            :page.sync="page"
            :items-per-page="display"
            :show-select="selectTable"
            hide-default-footer
            checkbox-color="green"
            @page-count="pageCount = $event"
          >
            <!-- name  -->
            <template v-slot:[`item.name`]="{ item }">
              <router-link :to="{ name: 'EditGroups', params: item }">{{
                item.name
              }}</router-link>
            </template>
            <!-- status  -->
            <template v-slot:[`item.status`]="{ item }">
              <v-switch
                v-model="item.status"
                inset
                dense
                hide-details
                color="#109BFF"
              ></v-switch>
            </template>
            <!-- Connect  -->
            <template v-slot:[`item.connect_state`]="{ item }">
              <span :style="item.connect_state ? '' : 'color: #CE2021;'">{{
                item.connect_state ? "Connect" : "Disconnect"
              }}</span>
            </template>

            <!-- border -->
            <template v-slot:[`body.append`]>
              <v-divider></v-divider>
            </template>
            <template v-slot:top>
              <v-divider></v-divider>
            </template>

            <!-- <template
              v-slot:[`item.data-table-select`]="{ item, isSelected, select }"
            >
              <v-simple-checkbox
                :value="isSelected"
                :readonly="item.disabled"
                :disabled="item.disabled"
                @input="select($event)"
              ></v-simple-checkbox>
            </template> -->
          </v-data-table>
          <!-- footer  -->
          <Footer
            :page="page"
            :pageCount="pageCount"
            :display="display"
            :length="data.length"
            @Page="Page($event)"
          ></Footer>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import FilterDialog from "../../components/Table/FilterDialog.vue";
import DeleteDialog from "../../components/Table/DeleteDialog.vue";
import ColumnVisibility from "../../components/Table/ColumnVisibility.vue";
import DisplaySelected from "../../components/Table/DisplaySelected.vue";
import Footer from "../../components/Table/Footer.vue";
import Export from "../../components/Table/Export.vue";
export default {
  components: {
    FilterDialog,
    DeleteDialog,
    ColumnVisibility,
    DisplaySelected,
    Footer,
    Export,
  },
  name: "AllSlaves",
  data: () => ({
    //Filter
    filter: [
      {
        label: "Server",
        name: "server",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Broker",
        name: "broker",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Platform",
        name: "platform",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      { label: "Status", name: "status", item: ["All", "On", "Off"] },
      {
        label: "Connect State",
        name: "connection_state_id",
        item: ["All", "On", "Off"],
      },
      { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
      { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
      { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
    ],
    filterDefault: {
      server: "XMGlobal-MT5 2",
      broker: "All",
      platform: "All",
      status: "All",
      connection_state_id: "All",
      expiration: "All",
      alert_email: "All",
      alert_sms: "All",
    },
    //Table
    //search
    search: "",
    //display
    display: 10,
    exportItems: ["PDF"],
    page: 1,
    pageCount: 0,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Group Name", value: "name", sortable: false },
      { text: "Total Slave", value: "total_slave", sortable: false },
      { text: "Total Master", value: "total_master", sortable: false },
      { text: "Type", value: "type", sortable: false },
      { text: "Copy Setting", value: "copy_setting", sortable: false },
      { text: "Status", value: "status", align: "center" },
      { text: "Connect State", value: "connect_state", sortable: false },
      { text: "Created Date", value: "created_date", sortable: false },
    ],
    data: [],
    // delete
    selected: [],
    //selectable
    selectTable: false,
    deleteDialog: false,
    // selectedColumns
    headersFilter: [],
    disabledCount: 0,
  }),
  created() {
    // set data
    this.data = [
      {
        id: "01",
        name: "group_name01",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "02",
        name: "group_name02",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "03",
        name: "group_name03",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "04",
        name: "group_name04",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "05",
        name: "group_name05",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },

      {
        id: "06",
        name: "group_name06",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "07",
        name: "group_name07",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "08",
        name: "group_name08",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "09",
        name: "group_name09",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
      {
        id: "10",
        name: "group_name10",
        total_slave: "xxxx",
        total_master: "xxxx",
        type: "xxx",
        copy_setting: "xxxxx",
        status: 1,
        connect_state: 0,
        created_date: "xx/xx/xx",
      },
    ];
    // const self = this;
    // this.data.map((item) => {
    //   if (item.disabled) self.disabledCount += 1;
    // });
  },
  methods: {
    // selectAllToggle(props) {
    //   if (this.selected.length != this.data.length - this.disabledCount) {
    //     this.selected = [];
    //     const self = this;
    //     props.items.forEach((item) => {
    //       if (!item.disabled) {
    //         self.selected.push(item);
    //       }
    //     });
    //   } else this.selected = [];
    // },
    // delete
    SelectDelete() {
      if (this.selected.length == 0) {
        this.selectTable = true;
      } else {
        this.deleteDialog = true;
      }
    },
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.selected);
        this.deleteDialog = false;
      } else {
        this.deleteDialog = false;
      }
    },
    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //from Display
    Display(display) {
      this.display = display;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
  },
};
</script>
