<template>
  <div>
    <v-slide-group max-width="100%">
      <v-slide-item v-for="(item, i) in tabs" :key="i">
        <router-link :to="{ name: item.link }" style="text-decoration: none">
          <v-btn
            color="white"
            class="rounded-b-0 rounded-t-lg ml-1 mt-1"
            large
            >{{ item.name }}</v-btn
          ></router-link
        >
      </v-slide-item>
    </v-slide-group>

    <!-- router  -->
    <router-view />
  </div>
</template>

<script>
export default {
  name: "EditGroups",
  data: () => ({
    // tabs
    tabs: [
      { name: "Group Settings", link: "GroupSettings" },
      { name: "History Order", link: "HistoryOrderGroup" },
    ],
  }),
};
</script>

<style>
</style>