<template>
  <div>
    <!-- Tab  -->
    <v-slide-group max-width="100%">
      <v-slide-item
        :class="i == selected ? 'active' : ''"
        v-for="(item, i) in tabs"
        :key="i"
      >
        <v-btn
          color="white"
          class="rounded-b-0 rounded-t-lg ml-1"
          style="padding: 0 4% !important"
          large
          @click="selectedTab(i)"
          >{{ item }}</v-btn
        >
      </v-slide-item>
    </v-slide-group>

    <v-card class="shadow">
      <v-container fluid class="py-5">
        <!-- report  -->
        <report :selected="tabs[selected]"></report>

        <v-row dense class="pt-5">
          <v-col cols="12">
            <!-- Chart -->
            <chart :selected="tabs[selected]"></chart>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import Chart from "../components/Dashboard/Chart.vue";
import Report from "../components/Dashboard/Report.vue";

export default {
  name: "Dashboard",
  components: {
    Report,
    Chart,
  },
  data: () => ({
    // tabs
    tabs: ["Masters", "Slaves", "Groups"],
    selected: 0,
  }),

  methods: {
    selectedTab(i) {
      this.selected = i;
    },
  },
};
</script>

<style lang="scss">
.subcard {
  box-shadow: rgba(9, 30, 66, 0.1) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.04) 0px 0px 0px 1px !important;
  padding: 15px !important;
  height: 100%;
  border-radius: 8px !important;
  h1 {
    padding-top: 5%;
  }
  p {
    font-weight: bold;
    text-align: left;
  }
}
</style>