<template>
  <div class="main">
    <!-- nav bar  -->
    <div id="nav-bar" class="text-left">
      <img class="pa-3" src="../assets/logoname.svg" />
    </div>

    <!-- Side bar -->
    <v-container fluid class="pa-0">
      <v-row no-gutters>
        <v-col class="d-none d-sm-block" cols="auto">
          <div class="navigation-drawer">
            <v-navigation-drawer v-model="drawer" permanent :width="200">
              <v-list-item class="d-block">
                <v-list-item-avatar size="100" class="mt-5">
                  <v-img
                    src="https://randomuser.me/api/portraits/men/85.jpg"
                  ></v-img>
                </v-list-item-avatar>
                <p class="pt-4"><b>Admin Support</b></p>
              </v-list-item>

              <v-list dense>
                <router-link
                  :to="{ name: item.link }"
                  v-for="(item, i) in items"
                  :key="i"
                  style="text-decoration: none"
                >
                  <v-list-item class="py-2 px-5" link>
                    <v-list-item-icon class="mx-4">
                      <!-- <v-icon>{{ item.icon }}</v-icon> -->
                      <!-- {{ Image(i) }} -->
                      <v-img
                        class="mx-auto"
                        sizes="16"
                        :src="require('../assets/menu_icon/' + item.icon)"
                      ></v-img>
                    </v-list-item-icon>

                    <v-list-item-content class="text-left">
                      <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </router-link>
              </v-list>
            </v-navigation-drawer>
          </div>
        </v-col>
        <v-col cols="" id="content">
          <router-view />
        </v-col>
      </v-row>
    </v-container>

    <!-- bottom bar  -->
    <div class="d-sm-none d-block" style="margin-top: 56px"></div>
    <v-bottom-navigation
      class="justify-space-around d-sm-none"
      fixed
      style="z-index: 99"
      height="60"
    >
      <router-link
        :to="{ name: item.link }"
        v-for="(item, i) in items"
        :key="i"
        style="text-decoration: none; color: black"
      >
        <v-img
          class="mx-auto mt-2"
          height="18"
          width="18"
          :src="require('../assets/menu_icon/' + item.icon)"
        ></v-img>
        <span style="font-size: 0.7em">{{ item.title }}</span>
      </router-link>
    </v-bottom-navigation>
  </div>
</template> 

<script>
// @ is an alias to /src
// import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Main",
  components: {},

  data() {
    return {
      das: "dashboard_menu.svg",
      value: 1,
      drawer: true,
      items: [
        {
          title: "Dashboard",
          icon: "dashboard_menu.svg",
          link: "Dashboard",
        },
        {
          title: "Masters",
          icon: "master_menu.svg",
          link: "AllMasters",
        },
        {
          title: "Slaves",
          icon: "slave_menu.svg",
          link: "AllSlaves",
        },
        {
          title: "Groups",
          icon: "group_menu.svg",
          link: "AllGroups",
        },
        {
          title: "Presets",
          icon: "preset_menu.svg",
          link: "AllPreset",
        },
      ],
      mini: false,
    };
  },
  methods: {
    Image(i) {
      console.log(this.items[i].icon);
      return this.items[i].icon;
    },
  },
};
</script>

<style lang="scss">
@import url("../../styles/table.css");
@import url("../../styles/card.scss");
@import url("../../styles/create.css");
@import url("../../styles/tab.css");

.main {
  background-color: #ebebf1 !important;
}

/* Body */
#content {
  margin: 0px 10px 0px 10px;
  padding-top: 66px !important;
  padding-bottom: 10px !important;
  min-width: 300px;
}

/* Side Bar */
.navigation-drawer {
  position: sticky;
  top: 66px;

  .v-navigation-drawer {
    margin: 66px 0px 10px 10px !important;
    height: calc(100vh - 76px) !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;

    .v-navigation-drawer__border {
      display: none;
    }

    .v-list {
      .v-list-item {
        border-top: 0.5px solid #ebebf1;
      }
      .v-list-item:last-child {
        border-bottom: 0.5px solid #ebebf1;
      }
    }
  }
}

.router-link-active {
  .v-image {
    filter: invert(9%) sepia(87%) saturate(7193%) hue-rotate(355deg)
      brightness(105%) contrast(77%);
  }
}

/* Nav Bar  */
#nav-bar {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 56px;
  width: 100%;
  position: fixed;
  z-index: 99;
  img {
    height: 100%;
    object-fit: contain;
  }
}

/* Bottom Bar  */
.v-bottom-navigation {
  .v-btn {
    height: 100% !important;
  }
}
</style>
