<template>
  <!-- All Groups  -->
  <v-card class="text-left card-content shadow pt-5">
    <v-container fluid>
      <!-- head  -->
      <v-row
        class="align-center justify-md-space-between justify-center mx-4"
        no-gutters
      >
        <!-- title  -->
        <v-col id="title" cols="12" sm="auto" class="d-inline-flex mr-2 my-1">
          <v-img
            class="menu-icon mr-4"
            max-height="32"
            max-width="32"
            min-height="32"
            min-width="32"
            src="../../assets/menu_icon/preset_menu.svg"
          ></v-img>
          <h2>All Preset</h2>
        </v-col>

        <v-spacer class="d-md-block d-none"></v-spacer>

        <!-- Display  -->
        <display-selected
          :display="display"
          @Display="Display($event)"
        ></display-selected>

        <!-- Export  -->
        <export></export>

        <!-- filter  -->
        <filter-dialog
          :filter="filter"
          :filterDefault="filterDefault"
          @filter="Filter($event)"
        ></filter-dialog>
        <!--  -->
      </v-row>

      <!-- head -->
      <v-row
        class="align-center justify-lg-space-between justify-center ma-4"
        no-gutters
      >
        <!-- input search  -->
        <v-col
          cols="100"
          sm="auto"
          class="d-inline-flex align-center mr-2 mb-2"
        >
          <b>Search :</b>
          <v-text-field
            v-model="search"
            class="ml-2"
            color="black"
            placeholder="Preset Name, Login User"
            outlined
            dense
            hide-details
          ></v-text-field
        ></v-col>

        <v-spacer class="d-md-block d-none"></v-spacer>

        <!-- create groups  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <router-link
            :to="{ name: 'CreatePresets' }"
            style="text-decoration: none"
          >
            <v-btn color="black" outlined dark>
              Create Preset
            </v-btn></router-link
          ></v-col
        >

        <!-- Column Visibility  -->
        <column-visibility
          :headers="headers"
          @ColumnVisibility="ColumnVisibility($event)"
        ></column-visibility>

        <!-- Delete Preset  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <v-btn color="black" outlined dark @click="SelectDelete()">
            Delete Preset
          </v-btn>
          <!-- Delete Groups Dialog  -->
          <delete-dialog
            :selected="selected"
            :deleteDialog="deleteDialog"
            @Delete="Delete($event)"
          ></delete-dialog
        ></v-col>
        <!-- Cancel  -->
        <v-col v-if="selectTable" cols="auto" class="mr-2 mb-2">
          <v-btn
            color="#CE2021"
            outlined
            dark
            @click="
              selectTable = false;
              selected = [];
            "
          >
            Cancel
          </v-btn>
        </v-col>
      </v-row>

      <!-- table  -->
      <v-row>
        <v-col class="pa-0" cols="12"
          ><!-- table  -->
          <v-data-table
            class="table"
            v-model="selected"
            :search="search"
            :headers="headersFilter"
            :items="data"
            :page.sync="page"
            :items-per-page="display"
            :show-select="selectTable"
            hide-default-footer
            checkbox-color="green"
            @page-count="pageCount = $event"
          >
            <!-- name  -->
            <template v-slot:[`item.name`]="{ item }">
              <router-link :to="{ name: 'EditPresets', params: item }">{{
                item.name
              }}</router-link>
            </template>
            <!-- status  -->
            <template v-slot:[`item.status`]="{ item }">
              <v-switch
                v-model="item.status"
                inset
                dense
                hide-details
                color="#109BFF"
              ></v-switch>
            </template>
            <!-- Connect  -->
            <template v-slot:[`item.connect`]="{ item }">
              <span :style="item.connect ? '' : 'color: #CE2021;'">{{
                item.connect ? "Connect" : "Disconnect"
              }}</span>
            </template>
            <!-- Email  -->
            <template v-slot:[`item.email`]="{ item }">
              <v-checkbox
                color="#109BFF"
                v-model="item.email"
                hide-details
              ></v-checkbox>
            </template>
            <!-- SMS  -->
            <template v-slot:[`item.sms`]="{ item }">
              <v-checkbox
                color="#109BFF"
                v-model="item.sms"
                hide-details
              ></v-checkbox>
            </template>
            <!-- border -->
            <template v-slot:[`body.append`]>
              <v-divider></v-divider>
            </template>
            <template v-slot:top>
              <v-divider></v-divider>
            </template>
          </v-data-table>
          <!-- footer  -->
          <Footer
            :page="page"
            :pageCount="pageCount"
            :display="display"
            :length="data.length"
            @Page="Page($event)"
          ></Footer>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import FilterDialog from "../../components/Table/FilterDialog.vue";
import DeleteDialog from "../../components/Table/DeleteDialog.vue";
import ColumnVisibility from "../../components/Table/ColumnVisibility.vue";
import DisplaySelected from "../../components/Table/DisplaySelected.vue";
import Footer from "../../components/Table/Footer.vue";
import Export from "../../components/Table/Export.vue";
export default {
  components: {
    FilterDialog,
    DeleteDialog,
    ColumnVisibility,
    DisplaySelected,
    Footer,
    Export,
  },
  name: "AllPreset",
  data: () => ({
    //Filter
    filter: [
      {
        label: "Server",
        name: "server",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Broker",
        name: "broker",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Platform",
        name: "platform",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      { label: "Status", name: "status", item: ["All", "On", "Off"] },
      {
        label: "Connect State",
        name: "connection_state_id",
        item: ["All", "On", "Off"],
      },
      { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
      { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
      { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
    ],
    filterDefault: {
      server: "XMGlobal-MT5 2",
      broker: "All",
      platform: "All",
      status: "All",
      connection_state_id: "All",
      expiration: "All",
      alert_email: "All",
      alert_sms: "All",
    },
    //Table
    //search
    search: "",
    //display
    display: 10,
    exportItems: ["PDF"],
    page: 1,
    pageCount: 0,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Preset Name", value: "name", sortable: false },
      { text: "Risk Factor Type", value: "risk_factor_type", sortable: false },
      {
        text: "Risk Factor Value",
        value: "risk_factor_value",
        sortable: false,
      },
      { text: "Max order Size", value: "max_order_size", sortable: false },
      { text: "Created Date", value: "created_date", sortable: false },
      { text: "Max Risk", value: "max_risk", align: "center" },
      { text: "Status", value: "status", sortable: false },
      { text: "Copier Status", value: "copier_status", sortable: false },
      {
        text: "Total Slave",
        value: "total_slave",
        align: "center",
        sortable: false,
      },
      {
        text: "Total Group",
        value: "total_group",
        align: "center",
        sortable: false,
      },
      { text: "Advance", value: "advance", sortable: false },
      { text: "Pending Order", value: "pending_order", sortable: false },
      { text: "Stop Loss", value: "stop_loss", align: "center" },
      { text: "Take Profit", value: "take_profit", sortable: false },
      {
        text: "Max Account Position Size",
        value: "max_account_position_size",
        sortable: false,
      },
      {
        text: "Max Symbol Position Size",
        value: "max_symbol_position_size",
        align: "center",
        sortable: false,
      },
      {
        text: "Max Symbol Open Count",
        value: "max_symbol_open_count",
        align: "center",
        sortable: false,
      },
    ],
    data: [],
    // delete
    selected: [],
    //selectable
    selectTable: false,
    deleteDialog: false,
    // selectedColumns
    headersFilter: [],
  }),
  created() {
    // set data
    this.data = [
      {
        id: "01",
        name: "preset_name01",
        risk_factor_type: "xxx",
        risk_factor_value: "xxx",
        max_order_size: "xxx",
        created_date: "xx/xx/xx",
        max_risk: "xxxx",
        status: 1,
        copier_status: "xxx",
        total_slave: "xxx",
        total_group: "xxx",
        advance: "xxx",
        pending_order: "xxx",
        stop_loss: "xxx",
        take_profit: "xxx",
        max_account_position_size: "xxx",
        max_symbol_position_size: "xxx",
        max_symbol_open_count: "xxx",
      },
      {
        id: "02",
        name: "preset_name02",
        risk_factor_type: "xxx",
        risk_factor_value: "xxx",
        max_order_size: "xxx",
        created_date: "xx/xx/xx",
        max_risk: "xxxx",
        status: 1,
        copier_status: "xxx",
        total_slave: "xxx",
        total_group: "xxx",
        advance: "xxx",
        pending_order: "xxx",
        stop_loss: "xxx",
        take_profit: "xxx",
        max_account_position_size: "xxx",
        max_symbol_position_size: "xxx",
        max_symbol_open_count: "xxx",
      },
      {
        id: "03",
        name: "preset_name03",
        risk_factor_type: "xxx",
        risk_factor_value: "xxx",
        max_order_size: "xxx",
        created_date: "xx/xx/xx",
        max_risk: "xxxx",
        status: 1,
        copier_status: "xxx",
        total_slave: "xxx",
        total_group: "xxx",
        advance: "xxx",
        pending_order: "xxx",
        stop_loss: "xxx",
        take_profit: "xxx",
        max_account_position_size: "xxx",
        max_symbol_position_size: "xxx",
        max_symbol_open_count: "xxx",
      },
      {
        id: "04",
        name: "preset_name04",
        risk_factor_type: "xxx",
        risk_factor_value: "xxx",
        max_order_size: "xxx",
        created_date: "xx/xx/xx",
        max_risk: "xxxx",
        status: 1,
        copier_status: "xxx",
        total_slave: "xxx",
        total_group: "xxx",
        advance: "xxx",
        pending_order: "xxx",
        stop_loss: "xxx",
        take_profit: "xxx",
        max_account_position_size: "xxx",
        max_symbol_position_size: "xxx",
        max_symbol_open_count: "xxx",
      },
    ];
  },
  methods: {
    // delete
    SelectDelete() {
      if (this.selected.length == 0) {
        this.selectTable = true;
      } else {
        this.deleteDialog = true;
      }
    },
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.selected);
        this.deleteDialog = false;
      } else {
        this.deleteDialog = false;
      }
    },
    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //from Display
    Display(display) {
      this.display = display;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
  },
};
</script>
