<template>
  <div>
    <v-card class="relative shadow mb-3 py-5">
      <!-- icon number  -->
      <v-img class="logo" src="../../assets/menu_icon/preset_menu.svg"></v-img>
      <!-- how to -->
      <v-container class="padding-x mt-5 mt-md-0" fluid>
        <v-row class="align-center justify-space-between">
          <v-col cols="12" md="auto">
            <div class="create-head">How to use : Create Preset</div>
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="save()"
            >
              Save
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#CE2021"
              depressed
              @click="deleteDialog = true"
              dark
            >
              Delete
            </v-btn>
            <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              depressed
              @click="edit()"
            >
              Edit
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
            >
              Confirm
            </v-btn></v-col
          >
        </v-row>
        <v-row class="mt-0 text-left">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown dummy text ever since the
            1500s, when an unknown
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <!-- Expanded -->
    <v-expansion-panels v-model="panel" multiple accordion>
      <!-- create presets  -->
      <v-expansion-panel class="py-md-4 mb-3" relative>
        <!-- icon number  -->
        <div class="number pa-1" style="background-color: #e8e8e8">
          <h3>0</h3>
        </div>
        <!-- header  -->
        <v-expansion-panel-header class="padding-x">
          <v-row class="align-center text-md-left text-center">
            <!-- img  -->
            <v-col cols="12" md="auto">
              <v-img
                class="mx-auto"
                max-height="90"
                max-width="90"
                src="../../assets/create_logo/create_master.png"
              ></v-img
            ></v-col>
            <v-col cols="100">
              <div>
                <div class="create-head mb-4">Create Preset</div>
                <div class="create-subhead mb-0">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  dummy text ever since the 1500s, when an unknown
                </div>
              </div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <preset-form
            class="mt-5"
            :readonly="view"
            :form="presetForm"
            @PresetForm="PreseForm($event)"
          ></preset-form>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- copy setting  -->
      <v-expansion-panel
        class="py-md-4 mb-3"
        relative
        @click="openExpand"
        readonly
      >
        <!-- icon number  -->
        <div class="number pa-1" style="background-color: #e8e8e8">
          <h3>1</h3>
        </div>
        <!-- header  -->
        <v-expansion-panel-header class="padding-x">
          <v-row class="align-center text-md-left text-center">
            <v-col cols="12" md="auto">
              <v-img
                class="mx-auto"
                max-height="90"
                max-width="90"
                src="../../assets/create_logo/copy_setting.png"
              ></v-img
            ></v-col>
            <v-col cols="100">
              <div>
                <div class="create-head">Copy Setting</div>
                <div class="create-subhead mt-4 mb-0">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  dummy text ever since the 1500s, when an unknown
                </div>
              </div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <!--  -->
          <copy-setting
            :readonly="view"
            :form="copySetting"
            @CopySetting="CopySetting($event)"
          ></copy-setting>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <!-- advance copy setting  -->
      <v-expansion-panel
        class="py-md-4 mb-3"
        @click="openExpand"
        readonly
        relative
      >
        <!-- icon number  -->
        <div class="number pa-1" style="background-color: #e8e8e8">
          <h3>2</h3>
        </div>
        <!-- header  -->
        <v-expansion-panel-header class="padding-x">
          <v-row class="align-center text-md-left text-center">
            <v-col cols="12" md="auto">
              <v-img
                class="mx-auto"
                max-height="90"
                max-width="90"
                src="../../assets/create_logo/advance_copy_setting.png"
              ></v-img
            ></v-col>
            <v-col cols="100">
              <div>
                <div class="create-head">Advance Copy Setting</div>
                <div class="create-subhead mt-4 mb-0">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  dummy text ever since the 1500s, when an unknown
                </div>
              </div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black"> mdi-chevron-up </v-icon>
          </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <!--  -->
          <advance-copy-setting :readonly="view"></advance-copy-setting>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <!-- footer -->
    <v-card class="shadow padding-x" style="z-index: 1">
      <v-container fluid>
        <v-row class="text-md-left text-center align-center">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="save()"
            >
              Save
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#CE2021"
              depressed
              @click="deleteDialog = true"
              dark
            >
              Delete
            </v-btn>
            <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              depressed
              @click="edit()"
            >
              Edit
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
            >
              Confirm
            </v-btn></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import AdvanceCopySetting from "../../components/Slaves/CreateSlave.vue/AdvanceCopySetting.vue";
import CopySetting from "../../components/Slaves/CreateSlave.vue/CopySetting.vue";

import PresetForm from "../../components/Presets/CreatePreset/PresetForm.vue";
import DeleteDialog from "../../components/Table/DeleteDialog.vue";
export default {
  components: {
    CopySetting,
    AdvanceCopySetting,
    DeleteDialog,
    PresetForm,
  },
  name: "CreateGroups",

  data: () => ({
    view: false,
    panel: [0],
    presetForm: [],
    deleteDialog: false,

    copySetting: {
      preset: "",
      name: "",
      risk: "",
      value: "",
      max_order: "",
      copier: "11",
      pending: 0,
      stopLoss: 1,
      takeProfit: 0,
      max_risk: "",
      max_account_pos: "",
      max_symbol: "",
      max_account: "",
    },
  }),
  created() {
    // set data
    this.data = [
      {
        id: "S-01",
        name: "xxxxxxxxxxxx01",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-02",
        name: "xxxxxxxxxxxx02",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-03",
        name: "xxxxxxxxxxxx03",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-04",
        name: "xxxxxxxxxxxx04",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-05",
        name: "xxxxxxxxxxxx05",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-06",
        name: "xxxxxxxxxxxx06",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-07",
        name: "xxxxxxxxxxxx07",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-08",
        name: "xxxxxxxxxxxx08",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-09",
        name: "xxxxxxxxxxxx09",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-010",
        name: "xxxxxxxxxxxx10",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 0,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 0,
        sms: 1,
        password: "ABC",
      },
    ];
  },
  computed: {},
  methods: {
    openExpand() {
      if (this.panel.length <= 1) {
        this.panel.push(1, 2);
      } else {
        this.panel.splice(this.panel.indexOf(1), 1);
        this.panel.splice(this.panel.indexOf(2), 1);
      }
    },
    // Copy Setting
    CopySetting(copySetting) {
      this.copySetting = copySetting;
    },
    // Form
    PresetForm(form) {
      this.presetForm = form;
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.masterForm.name);
        this.deleteDialog = false;
        this.$router.go(-1);
      } else {
        this.deleteDialog = false;
      }
    },

    //////////////////////////////////////

    // btn
    save() {
      this.view = true;
    },
    edit() {
      this.view = false;
    },
  },
};
</script>

