<template>
  <!-- All Masters  -->
  <v-card class="text-left card-content shadow pt-5">
    <!-- head  -->
    <v-container fluid>
      <!-- head  -->
      <v-row
        class="align-center justify-md-space-between justify-center mx-4"
        no-gutters
      >
        <!-- title  -->
        <v-col id="title" cols="12" sm="auto" class="d-inline-flex mr-2 my-1">
          <v-img
            class="menu-icon mr-4"
            max-height="36"
            max-width="36"
            min-height="36"
            min-width="36"
            src="../../assets/menu_icon/master_menu.svg"
          ></v-img>
          <h2>All Masters</h2>
        </v-col>

        <v-spacer class="d-md-block d-none"></v-spacer>

        <!-- Display  -->
        <display-selected
          :display="display"
          @Display="Display($event)"
        ></display-selected>

        <!-- select export  -->
        <export></export>

        <!-- filter  -->
        <filter-dialog
          :filter="filter"
          :filterDefault="filterDefault"
          @filter="Filter($event)"
        ></filter-dialog>
        <!--  -->
      </v-row>

      <!-- head -->
      <v-row
        class="align-center justify-lg-space-between justify-center ma-4"
        no-gutters
      >
        <!-- input search  -->
        <v-col
          cols="100"
          sm="auto"
          class="d-inline-flex align-center mr-2 mb-2"
        >
          <b>Search :</b>
          <v-text-field
            v-model="search"
            class="ml-2"
            color="black"
            placeholder="Master Name, Login User"
            outlined
            dense
            hide-details
          ></v-text-field
        ></v-col>

        <v-spacer class="d-md-block d-none"></v-spacer>

        <!-- create master  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <router-link
            :to="{ name: 'CreateMaster' }"
            style="text-decoration: none"
          >
            <v-btn color="black" outlined dark>
              Create Master
            </v-btn></router-link
          ></v-col
        >
        <!--  Show All Masters Order  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <router-link
            :to="{ name: 'ShowAllMasters' }"
            style="text-decoration: none"
          >
            <v-btn color="black" outlined dark> Show All Master Order </v-btn>
          </router-link>
        </v-col>
        <!-- Column Visibility  -->
        <column-visibility
          :headers="headers"
          @ColumnVisibility="ColumnVisibility($event)"
        ></column-visibility>
        <!-- Delete Slaves  -->
        <v-col cols="auto" class="mr-2 mb-2">
          <v-btn color="black" outlined dark @click="SelectDelete()">
            Delete Master
          </v-btn>
          <!-- Delete Masters Dialog  -->
          <delete-dialog
            :selected="selected"
            :deleteDialog="deleteDialog"
            @Delete="Delete($event)"
          ></delete-dialog
        ></v-col>
        <!-- Cancel  -->
        <v-col v-if="selectTable" cols="auto" class="mr-2 mb-2">
          <v-btn
            color="#CE2021"
            outlined
            dark
            @click="
              selectTable = false;
              selected = [];
            "
          >
            Cancel
          </v-btn>
        </v-col>
      </v-row>

      <!-- table  -->
      <v-row>
        <v-col class="pa-0" cols="12">
          <v-data-table
            class="table"
            v-model="selected"
            :search="search"
            :headers="headersFilter"
            :items="data"
            :page.sync="page"
            :items-per-page="display"
            :show-select="selectTable"
            hide-default-footer
            checkbox-color="green"
            @page-count="pageCount = $event"
          >
            <!-- name  -->
            <template v-slot:[`item.name`]="{ item }">
              <router-link :to="{ name: 'EditMasters', params: item }">{{
                item.name
              }}</router-link>
            </template>
            <!-- status  -->
            <template v-slot:[`item.status`]="{ item }">
              <v-switch
                v-model="item.status"
                inset
                dense
                hide-details
                color="#109BFF"
              ></v-switch>
            </template>
            <!-- Connect  -->
            <template v-slot:[`item.connect_state`]="{ item }">
              <span :style="item.connect_state ? '' : 'color: #CE2021;'">{{
                item.connect_state ? "Connect" : "Disconnect"
              }}</span>
            </template>
            <!-- Email  -->
            <template v-slot:[`item.email`]="{ item }">
              <v-checkbox
                color="#109BFF"
                v-model="item.email"
                hide-details
              ></v-checkbox>
            </template>
            <!-- SMS  -->
            <template v-slot:[`item.sms`]="{ item }">
              <v-checkbox
                color="#109BFF"
                v-model="item.sms"
                hide-details
              ></v-checkbox>
            </template>
            <!-- border -->
            <template v-slot:[`body.append`]>
              <v-divider></v-divider>
            </template>
            <template v-slot:top>
              <v-divider></v-divider>
            </template>
          </v-data-table>
          <!-- footer  -->
          <Footer
            :page="page"
            :pageCount="pageCount"
            :display="display"
            :length="data.length"
            @Page="Page($event)"
          ></Footer>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import FilterDialog from "../../components/Table/FilterDialog.vue";
import DeleteDialog from "../../components/Table/DeleteDialog.vue";
import ColumnVisibility from "../../components/Table/ColumnVisibility.vue";
import DisplaySelected from "../../components/Table/DisplaySelected.vue";
import Footer from "../../components/Table/Footer.vue";
import Export from "../../components/Table/Export.vue";
export default {
  components: {
    FilterDialog,
    DeleteDialog,
    ColumnVisibility,
    DisplaySelected,
    Footer,
    Export,
  },
  name: "AllMasters",
  data: () => ({
    //Filter
    filter: [
      {
        label: "Server",
        name: "server",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Broker",
        name: "broker",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Platform",
        name: "platform",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      { label: "Status", name: "status", item: ["All", "On", "Off"] },
      {
        label: "Connect State",
        name: "connection_state_id",
        item: ["All", "On", "Off"],
      },
      { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
      { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
      { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
    ],
    filterDefault: {
      server: "XMGlobal-MT5 2",
      broker: "All",
      platform: "All",
      status: "All",
      connection_state_id: "All",
      expiration: "All",
      alert_email: "All",
      alert_sms: "All",
    },
    //Table
    //search
    search: "",
    //display
    display: 10,
    page: 1,
    pageCount: 0,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Master Name", value: "name", sortable: false },
      { text: "Login User", value: "user", sortable: false },
      { text: "Demo/Real", value: "server", sortable: false },
      { text: "Broker", value: "broker", sortable: false },
      { text: "Server", value: "server", sortable: false },
      { text: "Platform", value: "platform", align: "center" },
      { text: "Created Date", value: "created_date", sortable: false },
      { text: "Status", value: "status", sortable: false },
      {
        text: "Connect State",
        value: "connect_state",
        align: "center",
        sortable: false,
      },
      {
        text: "Subsciption Type",
        value: "subsciption_type",
        align: "center",
        sortable: false,
      },
      { text: "Expiration", value: "expiration", sortable: false },
      { text: "Email", value: "email", align: "center", sortable: false },
      { text: "SMS", value: "sms", align: "center", sortable: false },
      { text: "Balance", value: "balance", sortable: false },
      { text: "Equity", value: "equity", sortable: false },
      { text: "Leverage", value: "leverage", sortable: false },
      {
        text: "Last Position Date",
        value: "last_position_date",
        sortable: false,
      },
      { text: "Last login", value: "last_login", sortable: false },
    ],
    data: [],
    // delete
    selected: [],
    //selectable
    selectTable: false,
    deleteDialog: false,
    // selectedColumns
    headersFilter: [],
  }),
  created() {
    this.data = [
      {
        id: "01",
        name: "master_name01",
        user: "xxxxx",
        demo_real: "Demo",
        broker: "xxx",
        server: "xxx",
        platform: "xxx",
        created_date: "xxx",
        status: 0,
        connect_state: 1,
        subsciption_type: "xxxxx",
        expiration: "xxxxx",
        email: 1,
        sms: 1,
        balance: "xxx",
        equity: "xxx",
        leverage: "xxx",
        last_position_date: "xx/xx/xx",
        last_login: "xxxxx",
      },
      {
        id: "02",
        name: "master_name02",
        user: "xxxxx",
        demo_real: "Demo",
        broker: "xxx",
        server: "xxx",
        platform: "xxx",
        created_date: "xxx",
        status: 1,
        connect_state: 0,
        subsciption_type: "xxxxx",
        expiration: "xxxxx",
        email: 0,
        sms: 1,
        balance: "xxx",
        equity: "xxx",
        leverage: "xxx",
        last_position_date: "xx/xx/xx",
        last_login: "xxxxx",
      },
    ];
  },
  methods: {
    // delete
    SelectDelete() {
      if (this.selected.length == 0) {
        this.selectTable = true;
      } else {
        this.deleteDialog = true;
      }
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.selected);
        this.selected = [];
        this.selectTable = false;
        this.deleteDialog = false;
        this.$notify({
          group: "alert",
          type: "save",
          title: "Success",
          text: "Delete already !",
        });
      } else {
        this.deleteDialog = false;
      }
    },

    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },

    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //from Display
    Display(display) {
      this.display = display;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
  },
};
</script>
