<template>
  <div>
    <v-card id="title" class="relative shadow mb-3 py-5">
      <!-- icon -->
      <v-img class="logo" src="../../assets/menu_icon/master_menu.svg"></v-img>
      <!-- how to -->
      <v-container class="padding-x mt-5 mt-md-0" fluid>
        <v-row class="align-center justify-space-between">
          <v-col cols="12" md="auto">
            <div class="create-head">How to use : {{ title }}</div>
          </v-col>
        </v-row>
        <v-row class="mt-0 text-left">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown dummy text ever since the
            1500s, when an unknown
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <!-- Expanded -->
    <v-expansion-panels multiple accordion v-model="panel">
      <!-- create slaves  -->
      <v-expansion-panel class="py-md-4" :relative="!view">
        <!-- icon number  -->
        <div class="number pa-1" style="background-color: #e8e8e8">
          <h3>1</h3>
        </div>

        <!-- header  -->
        <v-expansion-panel-header class="padding-x">
          <v-row class="align-center text-md-left text-center">
            <!-- img  -->
            <v-col cols="12" md="auto"
              ><v-img
                class="mx-auto"
                max-height="90"
                max-width="90"
                src="../../assets/create_logo/create_master.png"
              ></v-img>
            </v-col>
            <v-col cols="100">
              <div>
                <div class="create-head">Create Master</div>
                <div class="create-subhead mt-4 mb-0">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  dummy text ever since the 1500s, when an unknown
                </div>
              </div>
            </v-col>
          </v-row>
          <template v-slot:actions>
            <v-icon size="60" color="black">
              {{ view ? "" : "mdi-chevron-up" }}
            </v-icon>
          </template>
        </v-expansion-panel-header>

        <!-- content  -->
        <v-expansion-panel-content>
          <v-form ref="form">
            <master-form
              class="mt-5"
              :readonly="view"
              :form="masterForm"
              @MasterForm="MasterForm($event)"
            ></master-form>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <!-- footer -->
    <v-card class="shadow mt-3 padding-x" style="z-index: 1">
      <v-container fluid>
        <v-row class="text-md-left text-center align-center">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="!view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="save()"
            >
              Save
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#CE2021"
              @click="deleteDialog = true"
              dark
              depressed
            >
              Delete
            </v-btn>
            <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              @click="edit()"
              depressed
            >
              Edit
            </v-btn>
            <v-btn
              v-if="view"
              class="ma-1"
              width="150"
              color="green"
              dark
              depressed
              @click="$router.go(-1)"
            >
              Confirm
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import MasterForm from "../../components/Masters/CreateMaster/MasterForm.vue";
import DeleteDialog from "../../components/Table/DeleteDialog.vue";
export default {
  components: { MasterForm, DeleteDialog },
  name: "CreateMaster",
  data: () => ({
    view: false,
    panel: [0],
    masterForm: {
      name: "",
      login_user: "",
      password: "",
      broker_technology_id: "",
      forex_server_id: "",
      subscription_id: "",
      connection_state_id: "",
      on_off: "",
      alert_email: "",
      alert_sms: "",
      comment: "",
    },
    deleteDialog: false,
    UserHasMasterForm: {
      name: "2",
      login_user: "2",
      password: "222222",
      broker_technology_id: "2",
      forex_server_id: "2",
      subscription_id: "2",
      connection_state_id: "2",
      on_off: "2",
      alert_email: "2",
      alert_sms: "2",
      comment: "2",
    },
  }),
  computed: {
    title() {
      return this.view ? "View Master" : "Create master";
    },
  },

  methods: {
    MasterForm(form) {
      this.masterForm = form;
    },
    async save() {
      // if (this.$refs.form.validate()) {
      //   console.log(this.masterForm);
      //   this.$notify({
      //     group: "alert",
      //     type: "success",
      //     title: "Success",
      //     text: "save already",
      //   });
      // }
      // await this.axios
      //   .post(
      //     "http://testlab.semagssspig.space/copytrade/frontend/web/user-has-master/json-create",
      //     this.UserHasMasterForm
      //   )
      //   .then((res) => {
      //     console.log(res);
      //     this.view = true;
      //   });
      // .catch((err) => {
      //   console.log(err.response);
      // });
      // this.$notify({
      //   group: "alert",
      //   type: "success",
      //   title: "Success",
      //   text: "save already",
      // });
      this.view = true;
    },
    edit() {
      this.view = false;
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.masterForm.name);
        this.deleteDialog = false;
        this.$router.go(-1);
      } else {
        this.deleteDialog = false;
      }
    },
  },
};
</script>
