<template>
  <v-card class="subcard">
    <v-container fluid>
      <v-row no-gutters>
        <v-col cols="12" md="auto" align-self="center">
          <h3>Report {{ selected }}</h3></v-col
        >
        <v-spacer></v-spacer>
        <!-- Report -->
        <v-col class="d-inline-flex align-center" cols="12" md="auto">
          <v-subheader>Report</v-subheader>
          <v-select
            v-model="itemsReport[0]"
            class="ml-2"
            outlined
            hide-details
            full-width
            :items="itemsReport"
          ></v-select>
        </v-col>
        <!-- Filter Date -->
        <v-col class="d-inline-flex align-center" cols="12" md="auto">
          <v-subheader>Filter Date</v-subheader>
          <date-range></date-range>
        </v-col>
      </v-row>
      <!--  -->
      <v-row class="py-2">
        <v-card class="pa-2 shadow-1 text-left" color="#F9F9F9" width="100%">
          <v-container class="mx-2" fluid>
            <v-row no-gutters>
              <v-col cols="12" md="6"
                ><b>{{ selected }} Balance (USD) :</b> 100000</v-col
              >
              <v-col cols="12" md="6"
                ><b>{{ selected }} Volume :</b> 5</v-col
              ></v-row
            ></v-container
          >
        </v-card>
      </v-row>
      <v-row class="py-5">
        <line-chart
          style="width: 100%"
          :data="data"
          :label="label"
        ></line-chart>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
import LineChart from "../Dashboard/HorizontalBarChart";
import DateRange from "../Slaves/CreateSlave.vue/DateRange.vue";

export default {
  name: "Report",
  components: {
    LineChart,
    DateRange,
  },
  props: ["selected"],
  data: () => ({
    label: ["Sand", "Bank", "Phot"],
    data: [1200, 2000, 3560],
    itemsReport: ["Master Balance"],
  }),
  mounted() {
    document.getElementById("horizontalbar-chart").style.height =
      this.label.length * 50 + 24 + "px";
  },
};
</script>