<template>
  <v-row dense>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>All {{ selected }} (Active)</p>
        <h1 style="color: #109bff">5/5</h1>
      </v-card>
    </v-col>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>{{ selected }} Balance (USD)</p>
        <h1 style="color: #109bff">29,120.83</h1></v-card
      >
    </v-col>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>{{ selected }} Equity (USD)</p>
        <h1 style="color: #109bff">19120.83</h1></v-card
      >
    </v-col>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>Total Lots (Lots)</p>
        <h1 style="color: #109bff">509.12</h1></v-card
      >
    </v-col>

    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>Profit</p>
        <h1 style="color: #30b813">$91,836.13</h1></v-card
      >
    </v-col>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>Loss</p>
        <h1 style="color: #ce2021">$336.09</h1></v-card
      >
    </v-col>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>Most Copy Symbol</p>
        <h1 style="color: #109bff">XAUUSD</h1></v-card
      >
    </v-col>
    <v-col cols="12" sm="6" md="3">
      <v-card class="subcard">
        <p>Expiration</p>
        <h1 style="color: #109bff">30 Days</h1></v-card
      >
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "Report",
  props: ["selected"],
  data: () => ({}),
};
</script>