<template>
  <!-- Account Sertting -->
  <div>
    <!-- Master GOFX -->
    <v-card class="relative shadow mb-3 py-5">
      <!-- icon -->
      <v-img
        class="logo"
        src="../../../assets/menu_icon/master_menu.svg"
      ></v-img>
      <v-container class="padding-x mt-5 mt-md-0" fluid>
        <v-row class="align-center justify-space-between">
          <v-col cols="12" md="auto">
            <div class="create-head">Master GOFX - 1971402</div>
          </v-col>
        </v-row>
        <v-row class="mt-0 text-left">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown dummy text ever since the
            1500s, when an unknown
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <!-- Expanded  -->
    <v-expansion-panels multiple accordion readonly v-model="panel">
      <v-expansion-panel class="mb-3 py-md-4">
        <!-- header  -->
        <v-expansion-panel-header>
          <v-row class="align-center text-md-left text-center">
            <!-- img  -->
            <v-col cols="auto">
              <!-- icon number  -->
              <div class="number-50" style="background-color: #e8e8e8">
                <h1>1</h1>
              </div></v-col
            >
            <v-col cols="100">
              <div class="create-head">Create Master</div>
            </v-col>
          </v-row>
          <template v-slot:actions> <v-icon></v-icon> </template>
        </v-expansion-panel-header>
        <!-- content  -->
        <v-expansion-panel-content>
          <master-form
            class="mt-5"
            :readonly="!editable"
            :form="masterForm"
            @MasterForm="MasterForm($event)"
          ></master-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>

    <!-- footer -->
    <v-card class="shadow padding-x" style="z-index: 1">
      <v-container fluid>
        <v-row class="text-md-left text-center align-center">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </v-col>
          <v-col cols="12" md="auto">
            <v-btn
              v-if="!editable"
              class="ma-1"
              width="150"
              color="#CE2021"
              dark
              depressed
              @click="deleteDialog = true"
            >
              Delete
            </v-btn>
            <delete-dialog
              :deleteDialog="deleteDialog"
              @Delete="Delete($event)"
            ></delete-dialog>
            <v-btn
              v-if="!editable"
              class="ma-1"
              width="150"
              color="#109BFF"
              dark
              depressed
              @click="editable = true"
            >
              Edit
            </v-btn>
            <v-btn
              v-if="editable"
              class="ma-1"
              width="150"
              color="grey"
              dark
              depressed
              @click="editable = false"
            >
              Cancel
            </v-btn>
            <v-btn
              v-if="editable"
              class="ma-1"
              width="150"
              color="green"
              depressed
              dark
              @click="save()"
            >
              Save
            </v-btn></v-col
          >
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script>
import MasterForm from "../../../components/Masters/CreateMaster/MasterForm.vue";
import DeleteDialog from "../../../components/Table/DeleteDialog.vue";
export default {
  components: { MasterForm, DeleteDialog },
  name: "MySlave",
  data: () => ({
    editable: false,
    panel: [0],
    deleteDialog: false,
    masterForm: [],
  }),
  created() {
    // this.masterForm = this.$route.params;
  },
  methods: {
    MasterForm(form) {
      this.masterForm = form;
    },
    // from Delete
    Delete(event) {
      if (event) {
        //axios
        console.log("Delete", this.masterForm.name);
        this.deleteDialog = false;
        this.$router.go(-1);
      } else {
        this.deleteDialog = false;
      }
    },

    save() {
      this.editable = false;
    },
  },
};
</script>