<template>
  <div>
    <v-card class="shadow mb-3 pa-5">
      <!-- total master -->
      <show-all-total
        title="Master GOFX - 1971402"
        titlecolor="black"
        subtitle="Slave Curent"
        unit="Slave"
        :total="total"
        :profit="profit"
        :loss="loss"
        :win="win"
        :order="order"
        :lots="lots"
        logo="master"
      ></show-all-total>
    </v-card>

    <!-- header  -->
    <v-card class="text-left shadow pt-5">
      <v-container fluid>
        <!-- head  -->
        <v-row
          class="align-center justify-md-space-between justify-center mx-4"
          no-gutters
        >
          <v-col cols="12" sm="auto" class="mr-2 my-1">
            <h2>History Order</h2>
          </v-col>
          <v-spacer class="d-md-block d-none"></v-spacer>

          <!-- display  -->
          <display-selected
            :display="display"
            @Display="Display($event)"
          ></display-selected>

          <!-- select export  -->
          <v-col cols="auto" class="mr-2 my-1">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="black" outlined dark v-bind="attrs" v-on="on">
                  Export <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(item, index) in exportItems"
                  :key="index"
                  link
                >
                  <v-list-item-title>{{ item }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu></v-col
          >
          <!-- filter  -->
          <filter-dialog
            :filter="filter"
            :filterDefault="filterDefault"
            @filter="Filter($event)"
          ></filter-dialog>
        </v-row>
        <!-- head  -->
        <v-row
          class="align-center justify-md-space-between justify-center ma-4"
          no-gutters
        >
          <!-- input search  -->
          <v-col cols="auto" class="mr-2 mb-2">
            <div
              class="
                d-flex
                align-center
                justify-md-space-between justify-center
              "
            >
              <b>Search :</b>
              <v-text-field
                v-model="search"
                class="ml-2"
                color="black"
                placeholder="Master Name, Login User"
                outlined
                dense
                hide-details
              ></v-text-field></div
          ></v-col>

          <v-spacer class="d-md-block d-none"></v-spacer>
          <!-- range date  -->
          <date-rage @DateRange="DateRange($event)"></date-rage>
          <!-- Column Visibility  -->
          <ColumnVisibility
            :headers="headers"
            @ColumnVisibility="ColumnVisibility($event)"
          ></ColumnVisibility>
        </v-row>
      </v-container>

      <!-- table -->
      <div>
        <v-data-table
          class="table"
          :headers="headersFilter"
          :search="search"
          :items="data"
          :page.sync="page"
          :items-per-page="display"
          hide-default-footer
          @page-count="pageCount = $event"
        >
          <!-- name  -->
          <template v-slot:[`item.name`]="{ item }">
            <router-link :to="{ name: 'EditMasters', params: item }">{{
              item.name
            }}</router-link>
          </template>
          <!-- border -->
          <template v-slot:[`body.append`]>
            <v-divider></v-divider>
          </template>
          <template v-slot:top>
            <v-divider></v-divider>
          </template>
        </v-data-table>
        <!-- footer  -->
        <Footer
          :page="page"
          :pageCount="pageCount"
          :display="display"
          :length="data.length"
          @Page="Page($event)"
        ></Footer>
      </div>
    </v-card>
  </div>
</template>

<script>
import FilterDialog from "../../../components/Table/FilterDialog.vue";
import ColumnVisibility from "../../../components/Table/ColumnVisibility.vue";
import DisplaySelected from "../../../components/Table/DisplaySelected.vue";
import Footer from "../../../components/Table/Footer.vue";
import DateRage from "../../../components/Table/DateRange.vue";
import ShowAllTotal from "../../../components/ShowAll/ShowAllTotal.vue";
export default {
  name: "AccountSetting",
  components: {
    FilterDialog,
    ColumnVisibility,
    DisplaySelected,
    Footer,
    DateRage,
    ShowAllTotal,
  },
  data: () => ({
    //total master
    total: 319,
    profit: 91836.13,
    loss: 366.09,
    win: 89.05,
    order: 5893.19,
    lots: 893.19,
    //Filter
    filter: [
      {
        label: "Server",
        name: "server",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Broker",
        name: "broker",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Platform",
        name: "platform",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      { label: "Status", name: "status", item: ["All", "On", "Off"] },
      {
        label: "Connect State",
        name: "connection_state_id",
        item: ["All", "On", "Off"],
      },
      { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
      { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
      { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
    ],
    filterDefault: {
      server: "XMGlobal-MT5 2",
      broker: "All",
      platform: "All",
      status: "All",
      connection_state_id: "All",
      expiration: "All",
      alert_email: "All",
      alert_sms: "All",
    },
    //date range
    dates: [],
    //display
    display: 10,
    //export
    exportItems: ["PDF"],
    //table
    page: 1,
    pageCount: 0,
    data: [
      {
        id: "01",
        name: "master_name01",
        user: "xxxxxx",
        ticket: "xxxx",
        open_time: "xxxx",
        close_time: "xxxx",
        symbol: "xxxx",
        action: "xxxx",
        lots: "xxxx",
        pips: "xxxx",
        profit: "xxxx",
        open_price: "xxxx",
        close_price: "xxxx",
        take_profit: "xxxx",
        stop_loss: "xxxx",
        trading_volume_open: "xxxx",
        trading_volume_close: "xxxx",
        contract_size: "xxxx",
        commision: "xxxx",
        swap: "xxxx",
        comment: "xxxx",
        last_login: "xxxx",
      },
      {
        id: "02",
        name: "master_name02",
        user: "xxxxxx",
        ticket: "xxxx",
        open_time: "xxxx",
        close_time: "xxxx",
        symbol: "xxxx",
        action: "xxxx",
        lots: "xxxx",
        pips: "xxxx",
        profit: "xxxx",
        open_price: "xxxx",
        close_price: "xxxx",
        take_profit: "xxxx",
        stop_loss: "xxxx",
        trading_volume_open: "xxxx",
        trading_volume_close: "xxxx",
        contract_size: "xxxx",
        commision: "xxxx",
        swap: "xxxx",
        comment: "xxxx",
        last_login: "xxxx",
      },
      {
        id: "03",
        name: "master_name03",
        user: "xxxxxx",
        ticket: "xxxx",
        open_time: "xxxx",
        close_time: "xxxx",
        symbol: "xxxx",
        action: "xxxx",
        lots: "xxxx",
        pips: "xxxx",
        profit: "xxxx",
        open_price: "xxxx",
        close_price: "xxxx",
        take_profit: "xxxx",
        stop_loss: "xxxx",
        trading_volume_open: "xxxx",
        trading_volume_close: "xxxx",
        contract_size: "xxxx",
        commision: "xxxx",
        swap: "xxxx",
        comment: "xxxx",
        last_login: "xxxx",
      },
    ],
    search: "",
    // selectedColumns
    headersFilter: [],
  }),
  computed: {
    headers() {
      return [
        {
          text: "Master Name",
          align: "start",
          sortable: false,
          value: "name",
        },
        { text: "Login User", value: "user", sortable: false },
        { text: "Ticket", value: "ticket", sortable: false },
        { text: "Open Time", value: "open_time", sortable: false },
        { text: "Close Time", value: "close_time", sortable: false },
        { text: "Symbol", value: "symbol", sortable: false },
        { text: "Action", value: "action", sortable: false },
        {
          text: "Lots",
          value: "lots",
          sortable: false,
          // filter: (value) => {
          //   if (!this.dates) return true;
          //   return (
          //     new Date(this.dates[0]) < new Date(value) &&
          //     new Date(this.dates[1]) > new Date(value)
          //   );
          // },
        },
        { text: "Pips", value: "pips", sortable: false },
        { text: "Profit", value: "profit", sortable: false },
        { text: "Open Price ", value: "open_price", sortable: false },
        { text: "Close Price ", value: "close_price", sortable: false },
        { text: "Take Profit ", value: "take_profit", sortable: false },
        { text: "Stop Loss ", value: "stop_loss", sortable: false },
        {
          text: "Trading Volume Open ",
          value: "trading_volume_open",
          sortable: false,
        },
        {
          text: "Trading Volume Close ",
          value: "trading_volume_close",
          sortable: false,
        },
        { text: "Contract Size ", value: "contract_size", sortable: false },
        { text: "Commission ", value: "commision", sortable: false },
        { text: "Swap ", value: "swap", sortable: false },
        { text: "Comment ", value: "comment", sortable: false },
        { text: "Last login", value: "last_login", sortable: false },
      ];
    },
  },
  methods: {
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },
    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //from Display
    Display(display) {
      this.display = display;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
    //Date Range
    DateRange(dates) {
      this.dates = dates;
    },
    //from Search
    Search(search) {
      this.search = search;
    },
  },
};
</script>

<style>
</style>
