<template>
  <div>
    <!-- Master GOFX -->
    <v-card class="relative shadow mb-3 py-5">
      <!-- icon -->
      <v-img
        class="logo"
        src="../../../assets/menu_icon/master_menu.svg"
      ></v-img>
      <v-container class="padding-x mt-5 mt-md-0" fluid>
        <v-row class="align-center justify-space-between">
          <v-col cols="12" md="auto">
            <div class="create-head">Master GOFX - 1971402</div>
          </v-col>
        </v-row>
        <v-row class="mt-0 text-left">
          <v-col class="create-subhead">
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown dummy text ever since the
            1500s, when an unknown
          </v-col>
        </v-row>
      </v-container>
    </v-card>

    <!-- My slave -->
    <v-card class="text-left shadow pt-5">
      <v-container fluid>
        <!-- head  -->
        <v-row
          class="align-center justify-md-space-between justify-center mx-4"
          no-gutters
        >
          <!-- title  -->
          <v-col cols="12" md="auto" class="mr-2 my-1">
            <h2>My Slave</h2>
          </v-col>
          <v-spacer class="d-md-block d-none"></v-spacer>

          <!-- display  -->
          <display-selected
            :display="display"
            @Display="Display($event)"
          ></display-selected>
          <!-- select export  -->
          <v-col cols="auto" class="mr-2 my-1">
            <v-menu offset-y>
              <template v-slot:activator="{ on, attrs }">
                <v-btn color="black" outlined dark v-bind="attrs" v-on="on">
                  Export <v-icon>mdi-chevron-down</v-icon>
                </v-btn>
              </template>
              <v-list>
                <v-list-item
                  v-for="(item, index) in exportItems"
                  :key="index"
                  link
                >
                  <v-list-item-title>{{ item }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu></v-col
          >
          <!-- filter  -->
          <filter-dialog
            :filter="filter"
            :filterDefault="filterDefault"
            @filter="Filter($event)"
          ></filter-dialog>
        </v-row>
        <!-- head  -->
        <v-row
          class="align-center justify-md-space-between justify-center ma-4"
          no-gutters
        >
          <!-- input search  -->
          <v-col cols="auto" class="mr-2 mb-2">
            <div
              class="
                d-flex
                align-center
                justify-md-space-between justify-center
              "
            >
              <b>Search :</b>
              <v-text-field
                v-model="search"
                class="ml-2"
                color="black"
                placeholder="Master Name, Login User"
                outlined
                dense
                hide-details
              ></v-text-field></div
          ></v-col>
          <v-spacer class="d-md-block d-none"></v-spacer>
          <!-- create masters  -->
          <column-visibility
            :headers="headers"
            @ColumnVisibility="ColumnVisibility($event)"
          ></column-visibility>
        </v-row>
      </v-container>

      <!-- table -->
      <div>
        <v-data-table
          class="table"
          :headers="headersFilter"
          :search="search"
          :items="data"
          :page.sync="page"
          :items-per-page="display"
          hide-default-footer
          @page-count="pageCount = $event"
        >
          <!-- border -->
          <template v-slot:[`body.append`]>
            <v-divider></v-divider>
          </template>
          <template v-slot:top>
            <v-divider></v-divider>
          </template>
        </v-data-table>
        <!-- footer  -->
        <Footer
          :page="page"
          :pageCount="pageCount"
          :display="display"
          :length="data.length"
          @Page="Page($event)"
        ></Footer>
      </div>
    </v-card>
  </div>
</template>

<script>
import FilterDialog from "../../../components/Table/FilterDialog.vue";
import ColumnVisibility from "../../../components/Table/ColumnVisibility.vue";
import DisplaySelected from "../../../components/Table/DisplaySelected.vue";
import Footer from "../../../components/Table/Footer.vue";
export default {
  name: "MySlave",
  components: { Footer, FilterDialog, DisplaySelected, ColumnVisibility },
  data: () => ({
    //Filter
    filter: [
      {
        label: "Server",
        name: "server",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Broker",
        name: "broker",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      {
        label: "Platform",
        name: "platform",
        item: ["All", "XMGlobal-MT5 2", "Fizz", "Buzz"],
      },
      { label: "Status", name: "status", item: ["All", "On", "Off"] },
      {
        label: "Connect State",
        name: "connection_state_id",
        item: ["All", "On", "Off"],
      },
      { label: "Expiration", name: "expiration", item: ["All", "On", "Off"] },
      { label: "Email", name: "alert_email", item: ["All", "On", "Off"] },
      { label: "SMS", name: "alert_sms", item: ["All", "On", "Off"] },
    ],
    filterDefault: {
      server: "XMGlobal-MT5 2",
      broker: "All",
      platform: "All",
      status: "All",
      connection_state_id: "All",
      expiration: "All",
      alert_email: "All",
      alert_sms: "All",
    },
    search: "",
    display: 10,
    exportItems: ["PDF"],
    page: 1,
    pageCount: 0,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
      },
      { text: "Master Name", value: "name", sortable: false },
      { text: "Login User", value: "user", sortable: false },
      { text: "Demo/Real", value: "server", sortable: false },
      { text: "Broker", value: "broker", sortable: false },
      { text: "Server", value: "platform", sortable: false },
      { text: "Platform", value: "status", align: "center" },
      { text: "Group", value: "connect", sortable: false },
      { text: "Created Date ", value: "expiration", sortable: false },
      { text: "Status", value: "email", align: "center", sortable: false },
      { text: "Connect State", value: "sms", align: "center", sortable: false },
      { text: "Subscription Type", value: "connect", sortable: false },
      { text: "Expiration", value: "connect", sortable: false },
      { text: "Email", value: "connect", sortable: false },
      { text: "Sms", value: "connect", sortable: false },
      { text: "Balance ", value: "connect", sortable: false },
      { text: "Equity ", value: "connect", sortable: false },
      { text: "Leverage ", value: "connect", sortable: false },
      { text: "Last Position Date ", value: "connect", sortable: false },
      { text: "Risk Factor Type ", value: "connect", sortable: false },
      { text: "Risk Factor Value ", value: "connect", sortable: false },
      { text: "Last login", value: "status", align: "center" },
    ],
    headersFilter: [],

    data: [],
  }),
  created() {
    // set data
    this.data = [
      {
        id: "S-01",
        name: "xxxxxxxxxxxx01",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-02",
        name: "xxxxxxxxxxxx02",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-03",
        name: "xxxxxxxxxxxx03",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-04",
        name: "xxxxxxxxxxxx04",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-05",
        name: "xxxxxxxxxxxx05",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-06",
        name: "xxxxxxxxxxxx06",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-07",
        name: "xxxxxxxxxxxx07",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-08",
        name: "xxxxxxxxxxxx08",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-09",
        name: "xxxxxxxxxxxx09",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 1,
        connect: 0,
        expiration: "10/12/21 (40 Days)",
        email: 1,
        sms: 1,
        password: "ABC",
      },
      {
        id: "S-010",
        name: "xxxxxxxxxxxx10",
        user: "xxxxxx",
        server: "XMGlobal-MT5 2",
        broker: "XM",
        platform: "MT5",
        status: 0,
        connect: 1,
        expiration: "10/12/21 (40 Days)",
        email: 0,
        sms: 1,
        password: "ABC",
      },
    ];
  },
  methods: {
    // from Filter
    Filter(filter) {
      console.log("filter", filter);
      // axios
    },
    //from Column Visibility
    ColumnVisibility(headersFilter) {
      this.headersFilter = headersFilter;
    },
    //from Display
    Display(display) {
      this.display = display;
    },
    //form Footer
    Page(page) {
      this.page = page;
    },
  },
};
</script>