<template>
  <!-- Column Visibility  -->
  <v-col cols="auto" class="mr-2 mb-2">
    <v-menu :close-on-content-click="false" offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="black" outlined dark v-bind="attrs" v-on="on">
          Column Visibility <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item ripple @click="toggle">
          <v-list-item-action>
            <v-icon :color="selectedColumns.length > 0 ? 'red darken-4' : ''">
              {{ iconColumns }}
            </v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title> Select All </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-for="(item, index) in columns" :key="index" link>
          <v-checkbox
            v-model="selectedColumns"
            color="#CE2021"
            :value="item"
            hide-details
            @click="ColumnVisibility()"
          ></v-checkbox>
          <v-list-item-title>{{ item }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu></v-col
  >
</template>

<script>
export default {
  name: "ColumnVisibility",
  props: ["headers"],
  data: () => ({
    selectedColumns: [],
  }),
  computed: {
    columns() {
      return this.headers.map((a) => a.text);
    },
    allColumns() {
      return this.selectedColumns.length === this.columns.length;
    },
    someColumns() {
      return this.selectedColumns.length > 0 && !this.allColumns;
    },
    iconColumns() {
      if (this.allColumns) return "mdi-close-box";
      if (this.someColumns) return "mdi-minus-box";
      return "mdi-checkbox-blank-outline";
    },
    headersFilter() {
      return this.headers.filter((item) =>
        this.selectedColumns.includes(item.text)
      );
    },
  },
  created() {
    this.selectedColumns = this.columns;
    this.ColumnVisibility();
  },
  methods: {
    // togle select column
    toggle() {
      this.$nextTick(() => {
        if (this.allColumns) {
          this.selectedColumns = [];
          this.ColumnVisibility();
        } else {
          this.selectedColumns = this.columns.slice();
          this.ColumnVisibility();
        }
      });
    },
    ColumnVisibility() {
      this.$emit("ColumnVisibility", this.headersFilter);
    },
  },
};
</script>

<style lang="scss" scoped>
.v-menu__content {
  z-index: 999 !important;
}
.v-list-item {
  min-height: 0 !important;
}
.v-list-item__title {
  font-size: 12px !important;
}
</style>