<template>
  <!-- Delete Masters Dialog  -->
  <v-dialog v-model="deleteDialog" persistent max-width="360">
    <v-card class="justify-center">
      <v-card-title class="d-block text-h5">
        <v-icon color="red" large>mdi-alert-circle</v-icon>
        <div>Do you want to delete?</div>
      </v-card-title>
      <v-card-text class="pb-0"
        ><p v-for="(item, i) in selected" :key="i">
          {{ item.name }}&nbsp;
        </p></v-card-text
      >

      <v-card-actions>
        <v-container fluid class="ma-0">
          <v-row>
            <v-col class="px-1">
              <v-btn width="100%" color="black" outlined dark @click="Delete()">
                Delete
              </v-btn></v-col
            >
            <v-col class="px-1">
              <v-btn
                width="100%"
                color="#CE2021"
                outlined
                dark
                @click="closeDialog()"
              >
                Cancel
              </v-btn></v-col
            ></v-row
          ></v-container
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DeleteDialog",
  props: ["deleteDialog", "selected"],
  data: () => ({}),
  methods: {
    closeDialog() {
      this.$emit("Delete", false);
    },
    Delete() {
      this.$emit("Delete", true);
    },
  },
};
</script>