<template>
  <!-- select display  -->
  <v-col cols="auto" class="d-inline-felx mx-2 my-1">
    <b>Display </b>
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="black" outlined dark v-bind="attrs" v-on="on">
          {{ display }} <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item
          v-for="(item, index) in displayItems"
          :key="index"
          link
          @click="Display(item)"
        >
          <v-list-item-title>{{ item }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu></v-col
  >
</template>

<script>
export default {
  name: "DisplaySelected",
  props: ["display"],
  data: () => ({
    displayItems: [5, 10, 15, 20],
    selectedDisplay: Number,
  }),
  created() {
    this.selectedDisplay = this.display;
  },
  methods: {
    Display(item) {
      this.selectedDisplay = item;
      this.$emit("Display", this.selectedDisplay);
    },
  },
};
</script>