<template>
  <!-- select export  -->
  <v-col cols="auto" class="mr-2 my-1">
    <v-menu offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="black" outlined dark v-bind="attrs" v-on="on">
          Export <v-icon>mdi-chevron-down</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item v-for="(item, index) in exportItems" :key="index" link>
          <v-list-item-title>{{ item }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu></v-col
  >
</template>


<script>
export default {
  name: "Export",
  data: () => ({
    exportItems: ["PDF"],
  }),
};
</script>
