<template>
  <!-- Filter  -->
  <v-col cols="auto" class="mr-2 my-1">
    <!-- btn  -->
    <v-btn color="black" outlined dark @click="openDialog()">
      <v-icon>mdi-filter-outline</v-icon>
    </v-btn>
    <div class="text-center filter">
      <v-dialog content-class="filter" v-model="filterDialog" max-width="360">
        <!-- actions  -->
        <v-card>
          <v-card-title class="text-h5 lighten-2">
            <b>Filter</b> <v-spacer></v-spacer>
            <v-btn color="black" outlined dark @click="filterDialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-card-title>
          <v-container>
            <v-row class="grey lighten-2 pa-2">
              <v-col
                ><v-btn
                  width="100%"
                  color="white"
                  depressed
                  @click="filterDialog = false"
                >
                  Cancel
                </v-btn>
              </v-col>
              <v-col
                ><v-btn width="100%" color="white" depressed @click="submit()">
                  Submit
                </v-btn></v-col
              >
            </v-row>
          </v-container>
          <!-- input  -->
          <v-card-text class="px-5 mt-5 pb-0">
            <v-autocomplete
              v-for="(item, i) in filter"
              :key="i"
              :items="item.item"
              v-model="filterEdit[item.name]"
              :label="item.label"
              color="black"
              background-color="white"
              dense
              filled
              outlined
            >
            </v-autocomplete>
          </v-card-text>
          <!-- actions  -->
          <v-card-actions>
            <v-container>
              <v-row>
                <v-col
                  ><v-btn
                    width="100%"
                    color="black"
                    outlined
                    @click="setDefault()"
                  >
                    Set Default
                  </v-btn>
                </v-col>
                <v-col>
                  <v-btn
                    color="black"
                    width="100%"
                    outlined
                    @click="removeAll()"
                  >
                    Remove All
                  </v-btn></v-col
                >
              </v-row></v-container
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </v-col>
</template>

<script>
export default {
  name: "FilterDialog",
  props: ["filter", "filterDefault"],
  data: () => ({
    //fiter
    filterDialog: false,
    filterEdit: "",
    filterMain: "",
  }),
  created() {
    this.filterMain = Object.assign({}, this.filterDefault);
  },
  methods: {
    openDialog() {
      this.filterDialog = true;
      this.filterEdit = Object.assign({}, this.filterMain);
    },
    setDefault() {
      this.filterEdit = Object.assign({}, this.filterDefault);
    },
    removeAll() {
      this.filterEdit = {};
    },
    submit() {
      this.filterMain = Object.assign({}, this.filterEdit);
      this.$emit("filter", this.filterEdit);
      this.filterDialog = false;
    },
  },
};
</script>
