<template>
  <!-- Footer  -->
  <v-container fluid>
    <v-row class="align-center mx-4">
      <!-- showing page  -->
      <v-col md="" cols="12" class="align-center text-md-left text-center">
        <v-card-subtitle class="pa-0">
          Showing {{ (page - 1) * display + 1 }} to
          {{ Math.min((page - 1) * display + display, length) }}
          of {{ length }} entries</v-card-subtitle
        ></v-col
      >
      <!-- pagination  -->
      <v-col md="auto" cols="12">
        <v-pagination
          v-model="pagination"
          color="#5F87CF"
          :length="pageCount"
        ></v-pagination
      ></v-col>
      <!-- page input  -->
      <v-col md="auto" cols="12"
        ><v-card-subtitle class="pa-0">
          <v-row class="align-center justify-md-end justify-center">
            <v-col cols="auto">Page :</v-col>
            <v-col cols="auto">
              <v-text-field
                :value="pagination"
                type="number"
                color="black"
                min="1"
                :max="pageCount"
                hide-details
                @input="pagination = parseInt($event, 10)"
              ></v-text-field></v-col></v-row></v-card-subtitle
      ></v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "DisplaySelected",
  props: ["page", "pageCount", "display", "length"],
  data: () => ({
    pagination: Number,
  }),
  created() {
    this.pagination = this.page;
  },
  watch: {
    pagination: function (val) {
      this.$emit("Page", val);
    },
  },
};
</script>