<template>
  <v-app id="app">
    <v-main> <router-view /></v-main>
    <notifications classes="vue-alert" group="alert" position="top center" />
  </v-app>
</template>




<style lang="scss">
@import url("../styles/toggle-switchy.css");
#app {
  font-family: "Prompt", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
}

.vue-alert {
  // Style of the notification itself
  // background: white;
  border-radius: 6px;
  margin-top: 0.5rem;
  .notification-title {
    // Style for title line
  }

  .notification-content {
    // Style for content
  }

  &.save {
    padding: 0.5rem;
    color: white;
    background: #30b813;
    /*
    Style for specific type of notification, will be applied when you
    call notification with "type" parameter:
    this.$notify({ type: 'my-type', message: 'Foo' })
    */
  }
}
</style>
