/* title  */
#title h2 {
    color: #CE2021;
}

.menu-icon.v-image {
    filter: invert(9%) sepia(87%) saturate(7193%) hue-rotate(355deg) brightness(105%) contrast(77%);
}


/* card  */
.shadow.v-card,
.v-expansion-panel::before,
.v-expansion-panel {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    border-radius: 8px !important;
}

.shadow-1.v-card {
    /* background-color: #F9F9F9 !important; */
    box-shadow: rgba(9, 30, 66, 0.1) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.04) 0px 0px 0px 1px !important;
    border-radius: 8px !important;
}

.shadow-2.v-card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
    border-radius: 8px !important;
}

.card-content.v-card {
    min-height: calc(100vh - 76px);
}

.v-btn {
    text-transform: none !important;
    letter-spacing: inherit !important;
}

.v-input__slot {
    /* max-height: 36px !important; */
    min-height: 36px !important;
}

/* .v-select .v-input__slot {
    max-height: 36px !important;
} */

.fit-content .v-select__slot {
    max-width: fit-content !important;
}


.v-input__slot {
    align-items: center;
    justify-content: center !important;
}

.v-input__append-inner,
.v-input__append-outer {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.v-text-field,
.v-input {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.v-pagination li button {
    box-shadow: none !important;
}




/* dialog  */
@media only screen and (min-width: 540px) {
    .filter.v-dialog:not(.v-dialog--fullscreen) {
        right: 0 !important;
        position: absolute !important;
    }
}


p {
    margin-bottom: 0px !important;
}