/* card number  */
.relative {
    position: relative !important;
}

.padding-x {
    padding-left: 5rem !important;
    /* padding-right: 5rem !important; */
}

@media screen and (max-width: 960px) {
    .padding-x {
        padding-left: 1rem !important;
        /* padding-right: 1rem !important; */
    }
}

.color-icon {

    filter: invert(9%) sepia(87%) saturate(7193%) hue-rotate(355deg) brightness(105%) contrast(77%);
}

.number {
    position: absolute !important;
    text-align: center;
    top: 1rem;
    left: 1rem;
    color: #ce2021;
    height: 36px;
    width: 36px;
    border-radius: 36px !important;
}

.logo.v-image {
    filter: invert(9%) sepia(87%) saturate(7193%) hue-rotate(355deg) brightness(105%) contrast(77%);
    height: 36px;
    width: 36px;
    position: absolute !important;
    text-align: center;
    top: 1rem;
    left: 1rem;
}

.number-50 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ce2021;
    height: 50px;
    width: 50px;
    border-radius: 36px;
}


/* text create  */
.create-head {
    font-weight: 600;
    font-size: 1.4em;
}

.create-subhead {
    opacity: 0.6;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem !important;
    text-align: left;
}

.v-subheader {
    color: black !important;
    font-weight: 500 !important;
}

.v-item-group {
    justify-content: start !important;
}



.v-expansion-panels {
    z-index: 0 !important;
    /* border: none !important; */
}

.v-expansion-panel:not(:first-child)::after {
    border: none !important;
}

@media screen and (max-width: 960px) {
    .v-expansion-panel-content__wrap {
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }

    /* .create-head {
        font-weight: 600;
        font-size: 1em;
    } */
}