.table.v-data-table .text-start.action {
    position: sticky;
    right: 0;
    z-index: 5;
}

.table.v-data-table .text-start.action .v-icon {
    background: white;
    border-radius: 100px;
    /* box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px; */
}

/* .table.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>td:not(.v-data-table__mobile-row).a,
.table.v-data-table>.v-data-table__wrapper>table>tbody>tr:not(:last-child)>th:not(.v-data-table__mobile-row).a {
    border-left: 10px solid red;
} */

.v-data-table tbody .v-data-table__selected {
    background: #E8F5E9 !important;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
}

/* details */
.detail-table {
    background-color: #ebebf1 !important;
    box-shadow: none !important;
    /* box-shadow: rgba(50, 50, 93, 0.1) 0px 7px 7px -3px inset; */
    border-radius: 0px !important;
}

.detail-table .v-data-table-header th {
    color: #4A5CF8 !important;
}

.detail-table .v-data-table-header th .v-icon {
    color: #4A5CF8 !important;
}

/*expand */
.v-data-table--mobile td.expand {
    display: contents;
    width: 100%;
    clear: both
}